﻿@*@model ElephanttreeOnlineCourses.Models.Post_Cours*@
@model IEnumerable<ElephanttreeOnlineCourses.Models.Post_Cours>
@*@model List<ElephanttreeOnlineCourses.Models.Post_Cours>*@

@{
    ViewBag.Title = "EOTA: Course enable/disable";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        #myDIV {
            /*width: 100%;
            padding: 50px 0;
            text-align: center;
            background-color: lightblue;
            margin-top: 20px;*/
        }
    </style>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script type="text/javascript" src="~/Sale_FrontUsersPro/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Sale_FrontUsersPro/js/bootstrap.min.js"></script>
    <script src="~/Sale_FrontUsersPro/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    @*<link rel="stylesheet" href="~/Sale_FrontUsersPro/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/Sale_FrontUsersPro/css/bootstrap-select.css">
    @*  <link href="~/Sale_FrontUsersPro/css/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="EOTA :: MERIT TRAINING" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!--fonts-->
    <link href='~/Sale_FrontUsersPro/fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='~/Sale_FrontUsersPro/fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="~/Sale_FrontUsersPro/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Sale_FrontUsersPro/js/bootstrap.min.js"></script>
    <script src="~/Sale_FrontUsersPro/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    <script type="text/javascript" src="~/Sale_FrontUsersPro/js/jquery.leanModal.min.js"></script>
    <link href="~/Sale_FrontUsersPro/css/jquery.uls.css" rel="stylesheet" />
    <link href="~/Sale_FrontUsersPro/css/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Sale_FrontUsersPro/css/jquery.uls.lcd.css" rel="stylesheet" />
    <!-- Source -->
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.data.js"></script>
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.data.utils.js"></script>
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.lcd.js"></script>
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.languagefilter.js"></script>
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.regionfilter.js"></script>
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.core.js"></script>
    <script>
        $(document).ready(function () {
            $('.uls-trigger').uls({
                onSelect: function (language) {
                    var languageName = $.uls.data.getAutonym(language);
                    $('.uls-trigger').text(languageName);
                },
                quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" href="~/Sale_FrontUsersPro/css/easy-responsive-tabs.css " />
    <script src="~/Sale_FrontUsersPro/js/easyResponsiveTabs.js"></script>
</head>
<body>

    <div id="page-wrapper">
        <div class="main-page">
            <!--grids-->
            <div class="grids">
                <div class="progressbar-heading grids-heading">
                    <h2>Course AD Blocker  @ViewBag.abl</h2>
                    @ViewBag.abl
                </div>
                <div class="panel panel-widget">
                    <div>
                        @*//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*@
                        <div class="container">

                            <!-- Large modal -->

                            <div class="selectregion">

                                <button class="btn btn-primary" style="background-color:gray" data-toggle="modal" data-target="#myModal">
                                    Search for course
                                </button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    Please Choose Your Courses
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group">
                                                        <select id="basic2" onchange="location = this.value;">
                                                            <optgroup label="Technical courses">
                                                                <option selected style="display:none;color:#eee;">Select courses </option>
                                                                if( @ViewBag.Techcourse==null)
                                                                {
                                                                }
                                                                else
                                                                {
                                                                @foreach (var Tcrs in Model.Select(s => new { s.Title, s.Old_Price, s.New_Price, s.Course_Type, s.Secret_Code, s.EnableDisable }).Distinct().Where(x => x.Course_Type == "T" ).ToArray())

                                                                {
                                                                    <option value="~/ADMIN/SelectedAddBlocker/@Tcrs.Secret_Code">@Tcrs.Title</option>
                                                                }
                                                                }
                                                            </optgroup>
                                                            <optgroup label="Academic Courses">
                                                                if( @ViewBag.Acacourse==null)
                                                                {}
                                                                else
                                                                {
                                                                @foreach (var Acrs in Model.Select(s => new { s.Title, s.Old_Price, s.New_Price, s.Course_Type, s.Secret_Code, s.EnableDisable }).Distinct().Where(x => x.Course_Type == "A" ).ToArray())

                                                                {
                                                                    <option value="~/ADMIN/SelectedAddBlocker/@Acrs.Secret_Code">@Acrs.Title</option>
                                                                }
                                                                }
                                                            </optgroup>
                                                            <optgroup label="Management Courses">
                                                                if( @ViewBag.Mngcourse==null)
                                                                {}
                                                                else
                                                                {
                                                                @foreach (var Mcrs in Model.Select(s => new { s.Title, s.Old_Price, s.New_Price, s.Course_Type, s.Secret_Code, s.EnableDisable }).Distinct().Where(x => x.Course_Type == "M" ).ToArray())

                                                                {
                                                                    <option value="~/ADMIN/SelectedAddBlocker/@Mcrs.Secret_Code">@Mcrs.Title</option>
                                                                }
                                                                }
                                                            </optgroup>


                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $('#myModal').modal('');
                                </script>
                            </div>
                        </div>
                    </div>
                    <br />






                    @*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*@
                    @*<button onclick="myFunction()">Try it</button>
                        <input type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled">
                        <input type="checkbox" id="toggle-two" onclick="myFunction()">

                        <label id="pushme">Try it</label>*@

                    @*@foreach (var crsttl in @ViewBag.ttl)*@

                    @*@foreach (var crsttl in Model.Select(s => new { s.Title, s.Secret_Code, s.Course_Type,s.EnableDisable }).Distinct().ToArray())*@
                    @*@{
                            var cnt = Model.Select(s => new { s.Title, s.Secret_Code, s.Course_Type, s.EnableDisable }).Distinct().Count();
                        }*@
                    @foreach (var crsttl in Model.Select(s => new { s.Title, s.Secret_Code, s.Course_Type, s.EnableDisable }).Where(x=>x.Secret_Code== ViewBag.slctditm).Distinct())
                    {


                        //using (Html.BeginForm("AddBlocker", "ADMIN", FormMethod.Post/*, new { id = @crsttl.Secret_Code }*/))

                        //using (Html.BeginForm("AddBlocker", "ADMIN", FormMethod.Post, new { onclick="location = this.name;"}))
                        //{
                        @*@Html.AntiForgeryToken()*@
                        @*<form action="@Url.Action("AddBlocker", "ADMIN")/@crsttl.Secret_Code ;"  method="post">*@
                        <form action="~/ADMIN/AddBlocker/@crsttl.Secret_Code " method="post">

                            <div class="inbox-page" id="myDIV">

                                <div class="inbox-row widget-shadow" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="mail "> @*<input type="checkbox" class="checkbox">*@ @*@Html.CheckBoxFor(m => crsttl.EnableDisable.Value)*@ @*@crsttl.EnableDisable*@</div>
                                    <div class="mail"><img src="images/i1.png" alt=""></div>
                                    @if (crsttl.Course_Type == "T")
                {
                                        <div class="mail mail-name"><h6>Secret code: @Html.DisplayFor(m => crsttl.Secret_Code)</h6> <h6> @Html.DisplayFor(m => crsttl.Title)</h6><h6>Including in Technical</h6> </div>
                                    }
                                    else if (crsttl.Course_Type == "A")
                                    {
                                        <div class="mail mail-name"><h6>Secret code: @Html.DisplayFor(m => crsttl.Secret_Code)</h6> <h6>@Html.DisplayFor(m => crsttl.Title)</h6><h6>Including in Academic</h6> </div>
                                    }
                                    else
                                    {
                                        <div class="mail mail-name"><h6>Secret code: @Html.DisplayFor(m => crsttl.Secret_Code)</h6> <h6>@Html.DisplayFor(m => crsttl.Title)</h6><h6>Including in Management</h6> </div>
                                    }
                                    @if (crsttl.EnableDisable == true)
                {
                                        <a role="button">
                                            <div class="button"><p>Please click the button On right to Disable</p></div>
                                        </a>
                                        @*<input type="submit"  id="toggle-two" onclick="myFunction()" style="background-color:gray; color:white; float:right;width:10%;" ,name="disable" value="Disable">*@
                                        <input type="submit" @*onclick="location.href='@Url.Action("AddBlocker", "ADMIN")/@crsttl.Secret_Code' "*@ style="background-color:gray; color:white; float:right;width:10%;" ,name="disable" value="Disable" />
                                        @*@Html.ActionLink("Disable", "AddBlocker", "ADMIN", new { id = crsttl.Secret_Code }, null)*@
                                    }
                                    else
                                    {
                                        <a role="button">
                                            <div class="button"><p>Please click the button On right to Enable</p></div>
                                        </a>
                                        @*<input type="submit" id="toggle-two" onclick="myFunction()" style="background-color:greenyellow; color:white; float:right;width:10%;" ,name="enable" value="Enable">*@
                                        @*@Html.ActionLink("Enable", "AddBlocker", "ADMIN", new { id = crsttl.Secret_Code }, null)*@
                                        <input type="submit" @*onclick="location.href='@Url.Action("AddBlocker", "ADMIN")/@crsttl.Secret_Code' "*@ style="background-color:greenyellow; color:white; float:right;width:10%;" ,name="enable" value="Enable" />
                                        @*<input type="button" value="Detail" onclick="location.href='@Url.Action("Detail", "Home")/' + $('crsttl.Secret_Code').val()" />*@

                                    }
                                    @*<div class="mail-right">
                                            <div class="dropdown">
                                                <a href="#" data-toggle="dropdown" aria-expanded="false">
                                                    <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                                                </a>
                                                <ul class="dropdown-menu float-right">
                                                    <li>
                                                        <a role="button"  onclick="myFunction()" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            <i class="fa fa-trash-o mail-icon"></i>
                                                           Disable
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="">
                                                            <i class="fa fa-download mail-icon"></i>
                                                            Archive
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="font-red" title="">
                                                            <i class="fa fa-trash-o mail-icon"></i>
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>*@

                                    <div class="clearfix"> </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

                                    </div>
                                </div>
                            </div>
                        </form>
                    }



                </div>
            </div>
        </div>
        <!--//grids-->
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else if (x.style.display === "Enable") {
                window.alert("Course is successfully Enabled. Please wait...");
            } else if (x.style.display === "Disable") {
                window.alert("Course is successfully Disabled. Please wait...");
            } else
            {
                window.alert("...");
            }
        }
    </script>
    @*<script>
            $(function myFunction() {
                $('#toggle-two').bootstrapToggle({
                    on: 'Enabled',
                    off: 'Disabled'

                });

            })

            $(function () {
                $("#pushme").click(function () {
                    $(this).text(function (i, text) {
                        return text === "PUSH ME" ? "DON'T PUSH ME" : "PUSH ME";
                    })
                });
            })
        </script>*@

</body>
</html>
