﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title>EOTA: Home-> Trainer contact </title>
    <!-- Meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="EOTA: Home-> Trainer contact" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Metga-tags -->
    <!-- Styleshets -->
    <link href="~/css/newcss/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Bootstrap-css -->
    <link href="~/css/newcss/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Pop-up -->
    <link href="~/css/newcss/css/banner.css" rel="stylesheet" type="text/css" media="all" />
    <!--// banner-css -->
    <link rel="stylesheet" href="~/css/newcss/css/shop.css" type="text/css" media="screen" property="" />
    <!--// shop-css -->
    <link href="~/css/newcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- common-css -->
    <link href="~/css/newcss/css/font-awesome.css" rel="stylesheet">
    <!-- // Font-awesome-css -->
    <!--// Styleshets -->
    <!-- Online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!--// Online-fonts -->

</head>

<body>
    <!-- header -->
    <div class="header" id="home">
        <!-- header-top -->
        <div class="header_topw3layouts_bar">
            <div class="container">
                <div class="header_agileits_left">
                    <ul>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> +91 080-41141398</li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:etreetraining@gmail.com">etreetraining@gmail.com</a></li>
                    </ul>
                </div>
                <div class="header_right">
                    <a href="~/Trainers/Trainrs_Login" >Login</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--// header-top -->
        <!-- header-middle -->
       
    </div>
    <!-- banner -->
    <div class="innerf-banner">
    </div>
    <!--//banner -->
    <!-- Page details -->
    <div class="services-agile-breadcrumb">
        <div class="inner_breadcrumb">
            <ul class="short_ls">
                <li>
                    <a href="~/Home/Index">Home</a>
                    <span>| |</span>
                </li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
    <!-- //Page details -->
    <!-- mail -->
    <div class="mail">
        <div class="container">
            <h3 class="tittlef-agileits-w3layouts">Contact Us</h3>
            <div class="shopf-sear-headinfo_mail_grids">
             
                <div class="col-md-5 contactf-left">
                    <h3 class="sub-w3ls-headf">Contact Info</h3>
                    <div class="visit">
                        <div class="col-md-2 col-sm-2 col-xs-2 contact-icon-sidef">
                            <span class="fa fa-home" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 contact-text-shopf-sear-headinf0">
                            <h4>Visit us</h4>
                            <p>
                                #182/Y, Above ICICI Bank <br />
                                3rd Block, 12th Main <br />
                                Near Bhashyam Circle <br />
                                Rajaji Nagara,Bangalore - 560010
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="contactf-mail">
                        <div class="col-md-2 col-sm-2 col-xs-2 contact-icon-sidef">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 contact-text-shopf-sear-headinf0">
                            <h4>Mail us</h4>
                            <p><a href="mailto:etreetraining@gmail.com">etreetraining@gmail.com</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="call">
                        <div class="col-md-2 col-sm-2 col-xs-2 contact-icon-sidef">
                            <span class="fa fa-mobile" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 contact-text-shopf-sear-headinf0">
                            <h4>Call us</h4>
                            <p>+91 080-41141398</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="visit">
                        <div class="col-md-2 col-sm-2 col-xs-2 contact-icon-sidef">
                            <span class="fa fa-clock-o" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 contact-text-shopf-sear-headinf0">
                            <h4>Work hours</h4>
                            <p>Mon-Sat 09:30 AM - 6:30PM</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //mail -->

    <div class="footer-wthree-copyf">
        <div class="container">
            
            <p>© 2018 EOTA MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/" target="_blank"> ELEPHANTTREE TECH PVT.LTD.</a></p>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- js -->
    <!-- Common js -->
    <script type="text/javascript" src="~/css/newcss/js/jquery-2.1.4.min.js"></script>
    <!--// Common js -->
    <!-- cart-js -->
    <script src="~/css/newcss/js/minicart.js"></script>
    <script>
		edu.render();

		edu.cart.on('edu_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
    </script>
    <!-- //cart-js -->
    <!-- Nav Js -->
    <script type="text/javascript" src="~/css/newcss/js/bootstrap.js"></script>
    <script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
					$(this).toggleClass('open');
				}
			);
		});
    </script>
    <!--// Nav Js -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Sign In & Sign Up
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="loginf_module">
                            <div class="module form-module">
                                <div class="toggle">
                                    <i class="fa fa-times fa-pencil"></i>
                                    <div class="tooltip">Click Me</div>
                                </div>
                                <div class="form">
                                    <h3>Login to your account</h3>
                                    <form action="#" method="post">
                                        <input type="text" name="Username" placeholder="Username" required="">
                                        <input type="password" name="Password" placeholder="Password" required="">
                                        <input type="submit" value="Login">
                                    </form>
                                    <div class="cta"><a href="#">Forgot your password?</a></div>
                                </div>
                                <div class="form">
                                    <h3>Create an account</h3>
                                    <form action="#" method="post">
                                        <input type="text" name="Username" placeholder="Username" required="">
                                        <input type="password" name="Password" placeholder="Password" required="">
                                        <input type="email" name="Email" placeholder="Email address" required="">
                                        <input type="text" name="Phone" placeholder="Phone Number" required="">
                                        <input type="submit" value="Register">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
		$('.toggle').click(function () {
			// Switches the Icon
			$(this).children('i').toggleClass('fa-pencil');
			// Switches the forms
			$('.form').animate({
				height: "toggle",
				'padding-top': 'toggle',
				'padding-bottom': 'toggle',
				opacity: "toggle"
			}, "slow");
		});
    </script>
    <!-- //bootstrap-pop-up -->
    <!--pop-up-box -->
    <script src="~/css/newcss/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
    </script>
    <!-- //pop-up-box -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/css/newcss/js/move-top.js"></script>
    <script type="text/javascript" src="~/css/newcss/js/easing.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function () {
			
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
    </script>
    <!-- //here ends scrolling icon -->
    <!-- smoothscroll -->
    <script src="~/css/newcss/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->

</body>

</html>