﻿@model ElephanttreeOnlineCourses.Models.Post_Cours

<!DOCTYPE html>
<html>
<head>
    <title>EOTA :: Course editing...</title>
    <link rel="stylesheet" href="~/Sale_FrontUsersPro/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Sale_FrontUsersPro/css/bootstrap-select.css">
    <link href="~/Sale_FrontUsersPro/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="EOTA :: MERIT TRAINING" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!--fonts-->
    <link href='~/Sale_FrontUsersPro/fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='~/Sale_FrontUsersPro/fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="~/Sale_FrontUsersPro/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Sale_FrontUsersPro/js/bootstrap.min.js"></script>
    <script src="~/Sale_FrontUsersPro/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    <script type="text/javascript" src="~/Sale_FrontUsersPro/js/jquery.leanModal.min.js"></script>
    <link href="~/Sale_FrontUsersPro/css/jquery.uls.css" rel="stylesheet" />
    <link href="~/Sale_FrontUsersPro/css/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Sale_FrontUsersPro/css/jquery.uls.lcd.css" rel="stylesheet" />
    <!-- Source -->
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.data.js"></script>
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.data.utils.js"></script>
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.lcd.js"></script>
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.languagefilter.js"></script>
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.regionfilter.js"></script>
    <script src="~/Sale_FrontUsersPro/js/jquery.uls.core.js"></script>
    <script>
        $(document).ready(function () {
            $('.uls-trigger').uls({
                onSelect: function (language) {
                    var languageName = $.uls.data.getAutonym(language);
                    $('.uls-trigger').text(languageName);
                },
                quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" href="~/Sale_FrontUsersPro/css/easy-responsive-tabs.css " />
    <script src="~/Sale_FrontUsersPro/js/easyResponsiveTabs.js"></script>
    <script type="text/javascript">
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    </script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="~/Training_main/Doc_upload"><span>EOTA</span>UPLODER</a>
            </div>
            <div class="header-right">


                <!-- Large modal -->

                <div class="selectregion">
                    <button class="btn btn-primary" data-toggle="modal" data-target="">
                        <a class="" href="@ViewBag.url">Home</a>
                    </button>
                    <script>
                        $('#myModal').modal('');
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="banner text-center">
        <div class="container">
            <h1>Upload or Advertise   <span class="segment-heading">    anything online </span> with price tag and details</h1>


        </div>
    </div>
    <!-- Submit Ad -->

    <div class=" main-grid-border">

        <div class="container">
            <h2 class="head">Post an Ad Of Course</h2>
            ||<a class="fa " style="border-color:brown" href="~/Training_main/AllCourseView"> &nbsp;<b>All Uploaded Courses</b> &nbsp; </a>||

            <b> @ViewBag.UploadStatus</b>

            <div class="post-ad-form">

                @using (Html.BeginForm("Edit", "Training_main", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                <form>
                    
                   
                    <label>Select Course Category <span>*</span></label>
                    <tr>
                        <td>
                            @Html.DropDownListFor(m => m.Course_Type, new List<SelectListItem>
                                   { new SelectListItem{Text="Academic Courses", Value="A"},
                                     new SelectListItem{Text="Technical Courses", Value="T"}, new SelectListItem { Text = "Management courses", Value = "M" }}, "Please Select Your Course Type")
                            @Html.ValidationMessageFor(model => model.Course_Type, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <div class="clearfix"></div>
                    <label>Course Title <span>*</span></label>
                    @*<input type="text" class="phone" placeholder="">*@
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", style = "width:40%" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                    <div class="clearfix"></div>
                    <label>What Will I Learn? <span></span></label>

                    @Html.EditorFor(model => model.Learning_Point, new { htmlAttributes = new { @class = "form-control", style = "width:40%" } })
                    @Html.ValidationMessageFor(model => model.Learning_Point, "", new { @class = "text-danger" })

                    <div class="clearfix"></div>
                    <div class="upload-ad-photos">
                        <label>Photo for your Course :<span>*</span></label>

                        <div class="photos-upload-view">

                            @Html.TextBoxFor(model => model.Docimage, "", new
            {
                @type = "file",@*@multiple = "multiple",*@name = "Docimage",

})
                            @Html.ValidationMessageFor(model => model.Docimage, "", new { @class = "text-danger" })
                        </div>

                        <div class="clearfix"></div>
                        <div class="upload-ad-photos">
                            <label>Video Title For Course :</label>


                            @Html.EditorFor(model => model.Video_Title, new { htmlAttributes = new { @class = "form-control", style = "width:40%" } })
                            @Html.ValidationMessageFor(model => model.Video_Title, "", new { @class = "text-danger" })




                            <div class="clearfix"></div>
                            <div class="upload-ad-photos">
                                <label>Document and Video For Your Course :<span>*</span></label>

                                <div class="photos-upload-view">
                                    <video id="vid" name="VidFile" controls src="@Url.Content(Model.Video_Url)" typeof="video/mp4" width="550" height="350"></video>
                                    @Html.TextBoxFor(model => model.VidFile, "", new { @type = "file", @multiple = "multiple", name = "VidFile" })
                                    @Html.ValidationMessageFor(model => model.VidFile, "", new { @class = "text-danger" })

                                </div>
                                <div class="clearfix"></div>
                                <script src="js/filedrag.js"></script>
                            </div>

                            <div class="personal-details">

                                <label>Requirements <span></span></label>

                                @Html.EditorFor(model => model.Requirements, new { htmlAttributes = new { @class = "form-control", style = "width:40%" } })
                                @Html.ValidationMessageFor(model => model.Requirements, "", new { @class = "text-danger" })

                                <div class="clearfix"></div>
                                <label>Short Description <span></span></label>
                                @Html.EditorFor(model => model.Small_Description, new { htmlAttributes = new { @class = "form-control", style = "width:40%" } })
                                @Html.ValidationMessageFor(model => model.Small_Description, "", new { @class = "text-danger" })
                                @*<input type="text" class="phone" placeholder="">*@
                                <div class="clearfix"></div>
                                <label> Brief Description<span></span></label>
                                @Html.EditorFor(model => model.Brief_Description, new { htmlAttributes = new { @class = "form-control", style = "width:40%" } })
                                @Html.ValidationMessageFor(model => model.Brief_Description, "", new { @class = "text-danger" })
                                @*<input type="text" class="email" placeholder="">*@
                                <div class="clearfix"></div>
                                <label> Old Price<span> (INR)</span></label>
                                @Html.EditorFor(model => model.Old_Price, new { htmlAttributes = new { style = "width:40%", min = "0", onkeypress = "return isNumberKey(event)" } })

                                @Html.ValidationMessageFor(model => model.Old_Price, "", new { @class = "text-danger" })

                                @*<input type="text" class="email" placeholder="">*@
                                <div class="clearfix"></div>
                                <label>New Price<span> (INR)*</span></label>
                                @Html.EditorFor(model => model.New_Price, new { htmlAttributes = new { style = "width:40%", min = "0", onkeypress = "return isNumberKey(event)" } })
                                @Html.ValidationMessageFor(model => model.New_Price, "", new { @class = "text-danger" })
                                @*<input type="text" class="email" placeholder="">*@
                                <div class="clearfix"></div>
                                <p class="post-terms">By clicking <strong>post Button</strong> you accept our <a href="terms.html" target="_blank">Terms of Use </a> and <a href="privacy.html" target="_blank">Privacy Policy</a></p>
                                <br />
                                <label><span></span></label>
                                <input class="btn btn-success" type="submit" style="background-color:yellow; color:black; width:10%;" value="Update">
                                <div class="clearfix"></div>
                </form>

                }
            </div>
        </div>
    </div>

    <!-- // Submit Ad -->
    <!--footer section start-->
    <footer>
        @*<div class="footer-top">
                <div class="container">
                    <div class="foo-grids">
                        <div class="col-md-3 footer-grid">
                            <h4 class="footer-head">Who We Are</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal letters, as opposed to using 'Content here.</p>
                        </div>
                        <div class="col-md-3 footer-grid">
                            <h4 class="footer-head">Help</h4>
                            <ul>
                                <li><a href="howitworks.html">How it Works</a></li>
                                <li><a href="sitemap.html">Sitemap</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="feedback.html">Feedback</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="typography.html">Shortcodes</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-grid">
                            <h4 class="footer-head">Information</h4>
                            <ul>
                                <li><a href="regions.html">Locations Map</a></li>
                                <li><a href="terms.html">Terms of Use</a></li>
                                <li><a href="popular-search.html">Popular searches</a></li>
                                <li><a href="privacy.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-grid">
                            <h4 class="footer-head">Contact Us</h4>
                            <span class="hq">Our headquarters</span>
                            <address>
                                <ul class="location">
                                    <li><span class="glyphicon glyphicon-map-marker"></span></li>
                                    <li>CENTER FOR FINANCIAL ASSISTANCE TO DEPOSED NIGERIAN ROYALTY</li>
                                    <div class="clearfix"></div>
                                </ul>
                                <ul class="location">
                                    <li><span class="glyphicon glyphicon-earphone"></span></li>
                                    <li>+0 561 111 235</li>
                                    <div class="clearfix"></div>
                                </ul>
                                <ul class="location">
                                    <li><span class="glyphicon glyphicon-envelope"></span></li>
                                    <li><a href="mailto:info@example.com">mail@example.com</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </address>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>*@
        <div class="footer-bottom text-center">
            <div class="container; footer-bottom text-center">
                <div class="footer-logo">
                    <a href="~/Training_main/Doc_upload"><span>EOTA</span>UPLOADER</a>
                </div>
                <div class="footer-social-icons">
                    <ul>
                        <li><a class="facebook" href="#"><span>Facebook</span></a></li>
                        <li><a class="twitter" href="#"><span>Twitter</span></a></li>
                        <li><a class="flickr" href="#"><span>Flickr</span></a></li>
                        <li><a class="googleplus" href="#"><span>Google+</span></a></li>
                        <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
                    </ul>
                </div>
                <div class="copyrights">
                    <p> © 2017 EOTA MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/">ELEPHANTTREE TECH PVT.LTD.</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
    <!--footer section end-->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>