﻿@model ElephanttreeOnlineCourses.Models.Trainer
@{
    ViewBag.Title = "EOTA :: Trainer profile";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Trnr_Logout", "Trainers", FormMethod.Post, new { id = "logoutform" }))
    {
        <a href="javascript:document.getElementById('logoutform').submit()">Logout</a>
    }
}
<link href="~/admnfont/css/hover.css" rel='stylesheet' type='text/css' />
<div id="page-wrapper">
    <div class="main-page">
        @*@HttpContext.Current.User.Identity.Name*@
        @foreach (var crs in ViewBag.id)
        {
            @crs.Name
        }

        <!--grids-->
        <div class="grids">
            <div class="progressbar-heading grids-heading">
                <h2>Dashboard</h2>
            </div>
            <div class="panel panel-widget">
                <div class="block-page">
                    <p>

                        <br />
                        <div class="but_list">
                            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class=""><a href="#crs" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Courses</a></li>
                                    <li role="presentation"><a href="#trnr" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Trainers' list</a></li>

                                    <li role="presentation" class="dropdown">
                                        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">User List  <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                                            <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">Paid Users</a></li>
                                            <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">NON Paid</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade " id="crs" aria-labelledby="home-tab">
                    <p>Hello Admin Welcome to Course Section. If you want to see all courses or to upload course then please click on below button</p>
                    @foreach (var crs in ViewBag.id)
                    {
                        <a href="#" class="hvr-icon-wobble-horizontal">click here</a>@*<a href="~/Training_main/AllCourseView">Courses</a>*@
                        @Html.ActionLink("Courses", "AllCourseView", "Training_main", new { id = crs.Id }, null)
                    }
                    <br />
                    <p>Thank you for viewing</p>
                </div>
                @*<div role="tabpanel" class="tab-pane fade" id="trnr" aria-labelledby="profile-tab">
                    <p><b><u> EOTA Trainers</u>.</b></p>
                    <table class="table">
                        <tr>
                            <th>
                                <b>ID</b>
                            </th>
                            <th>
                                <b>Name</b>
                            </th>
                            <th>
                                <b> Email Id</b>
                            </th>
                            <th>
                                <b>Number</b>
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var crs in ViewBag.trainers)
                        {
                            if (crs == null)
                            {
                                <tr>gcgdvcdvcvcvgvc</tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @crs.Id
                                    </td>
                                    <td>
                                        @crs.Name
                                    </td>
                                    <td>
                                        @crs.Email_Id
                                    </td>
                                    <td>
                                        @crs.Number

                                    </td>
                                    <td>
                                        ||  @Html.ActionLink("Details", "TRainersdetails", "ADMIN", new
                                       { id = crs.Id }, null) ||

                                    </td>
                                </tr>

                            }
                        }

                    </table>


                </div>
                <div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab">
                    <p><b><u> Paid Users</u>.</b></p>
                    <table class="table">
                        <tr>
                            <th>
                                <b>ID</b>
                            </th>
                            <th>
                                <b>Name</b>
                            </th>
                            <th>
                                <b> Email Id</b>
                            </th>
                            <th>
                                <b>Reference Code</b>
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var crs in ViewBag.Paidcand)
                        {
                            <tr>
                                <td>
                                    @crs.Cand_id
                                </td>
                                <td>
                                    @crs.CandName
                                </td>
                                <td>
                                    @crs.Cand_EmailId
                                </td>
                                <td>
                                    @crs.cand_ReferenceCode

                                </td>
                                <td>
                                    ||  @Html.ActionLink("Details", "pdcanddetails", "ADMIN", new
                                   { id = crs.Cand_id }, null) ||


                                </td>
                            </tr>
                        }

                    </table>


                </div>
                <div role="tabpanel" class="tab-pane fade" id="dropdown2" aria-labelledby="dropdown2-tab">
                    <p><b><u> NON Paid Users</u>.</b></p>
                    <table class="table">
                        <tr>
                            <th>
                                <b>ID</b>
                            </th>
                            <th>
                                <b>Name</b>
                            </th>
                            <th>
                                <b> Email Id</b>
                            </th>
                            <th>
                                <b>Reference Code</b>
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var crs in ViewBag.Nonpaid)
                        {
                            <tr>
                                <td>
                                    @crs.Cand_id
                                </td>
                                <td>
                                    @crs.CandName
                                </td>
                                <td>
                                    @crs.Cand_EmailId
                                </td>
                                <td>
                                    @crs.cand_ReferenceCode

                                </td>
                                <td>
                                    ||  @Html.ActionLink("Details", "pdcanddetails", "ADMIN", new
                                   { id = crs.Cand_id }, null) ||


                                </td>
                            </tr>
                        }

                    </table>

                </div>*@
            </div>
        </div>
    </div>
</div>



