﻿@model ElephanttreeOnlineCourses.Models.Tbl_Doc

@{
    ViewBag.Title = "Details";
}
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Details</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/FrontUsersPro/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome-icons -->
    <link href="~/FrontUsersPro/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->

    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/FontAwesome.otf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.eot" rel="stylesheet">
    @*<img src="~/FrontUsersPro/fonts/glyphicons-halflings-regular.svg" />*@
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff" rel="stylesheet">
    <link href="~/css/newcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//FrontUsersPro/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="wthree_agile_admin_info">
        <!-- /w3_agileits_top_nav-->
        <!-- /nav-->
        <div class="w3_agileits_top_nav">
            <ul id="gn-menu" class="gn-menu-main">
                <!-- /nav_agile_w3l -->
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller scrollbar1">
                            <ul class="gn-menu agile_menu_drop">
                                <li><a href="~/Student/User_Profile"> <i class="fa fa-tachometer"></i> Dashboard</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Profile Components <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="gn-submenu">
                                        <li class="mini_list_agile"><a href="buttons.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Change Password</a></li>
                                        <li class="mini_list_w3"><a href="grids.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Change Subject</a></li>
                                        @*<li class="mini_list_w3"><a href="grids.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Email To Trainer/Admin</a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-file-text-o" aria-hidden="true"></i>Your Subject <i class="fa " aria-hidden="true"></i></a>
                                    @*<ul class="gn-submenu">
                                        <li class="mini_list_agile"><a href="input.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Inputs</a></li>
                                        <li class="mini_list_w3"><a href="validation.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Validation</a></li>
                                    </ul>*@
                                </li>
                                <li><a href="table.html"> <i class="fa fa-table" aria-hidden="true"></i> Mock Test</a></li>

                                <li>
                                    <a href="#"><i class="fa fa-list" aria-hidden="true"></i>Pay for Subject <i class="fa fa-angle-down" aria-hidden="true"> </i></a>
                                    <ul class="gn-submenu">
                                        <li class="mini_list_agile"><a href="typo.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Monthly Basis</a></li>
                                        <li class="mini_list_w3"><a href="icons.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Subject Basis</a></li>

                                    </ul>
                                </li>

                                <li><a href="charts.html"> <i class="fa fa-line-chart" aria-hidden="true"></i> Certificate</a></li>
                                <li><a href="maps.html"><i class="fa fa-map-o" aria-hidden="true"></i> Help/Training process</a></li>
                                @*<li class="page">
                                    <a href="#"><i class="fa fa-files-o" aria-hidden="true"></i> Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="gn-submenu">

                                        <li class="mini_list_agile"> <a href="signin.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Sign In</a></li>
                                        <li class="mini_list_w3"><a href="signup.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Sign Up</a></li>
                                        <li class="mini_list_agile error"><a href="404.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Error 404 </a></li>

                                        <li class="mini_list_w3_line"><a href="calendar.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Calendar</a></li>
                                    </ul>
                                </li>
                                <li>*@
                                <a href="#"> <i class="fa fa-suitcase fa-" aria-hidden="true"></i>Refer a friend <i class="fa " aria-hidden="true"></i></a>
                                @*<ul class="gn-submenu">
                                    <li class="mini_list_agile"><a href="faq.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Faq</a></li>
                                    <li class="mini_list_w3"><a href="blank.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Blank Page</a></li>
                                </ul>*@
                </li>
            </ul>
        </div><!-- /gn-scroller -->
        </nav>
        </li>
        <!-- //nav_agile_w3l -->

        <li class="second logo"><h4><a href="~/Student/User_Profile"><br /> Hello, @HttpContext.Current.User.Identity.Name </a></h4></li>
        <li class="second admin-pic">
            <ul class="top_dp_agile">
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">
                            <span class="prfil-img"><img src="~/FrontUsersPro/images/admin.jpg" alt=""> </span>

                            @*@foreach (var item in Model)
                            {
                                if (item.Cand_EmailId == User.Identity.Name)
                                {

                                    <span class="prfil-img;"><img src="@Url.Content(item.Cand_ImagePath)" height="53" max-width="53" alt=""></span>
                                }

                            }*@
                        </div>
                    </a>
                    <ul class="dropdown-menu drp-mnu">
                        <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                        <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>

                        <li> <a href="javascript:document.getElementById('logoutform').submit()"><i class="fa fa-sign-out"></i> Logout</a> </li>
                    </ul>
                    @using (Html.BeginForm("Cand_Logout", "Student", FormMethod.Post, new { id = "logoutform" })) { }

                    @* {
                    <li> <a class="active" href="javascript:document.getElementById('logoutform').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>


                    }*@
                </li>

            </ul>
        </li>
        <li class="second top_bell_nav">
            <ul class="top_dp_agile ">
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge blue">3</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>Your Notifications</h3>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user_img"><img src="~/FrontUsersPro/images/rsz_img_20170914_111047.jpg" alt=""></div>
                                <div class="notification_desc">
                                    <h6>Shivakumara</h6>
                                    <p>Shivakumara likes your post</p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li class="odd">
                            <a href="#">
                                <div class="user_img"><img src="~/FrontUsersPro/images/rsz_mallikarjuna_g_d.jpg" alt=""></div>
                                <div class="notification_desc">
                                    <h6>Mallikarjuna</h6>
                                    <p>Mallikarjuna viewd your profile</p>
                                    <p><span>3 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user_img"><img src="~/FrontUsersPro/images/rsz_1harish_hampesh.jpg" alt=""></div>
                                <div class="notification_desc">
                                    <h6>Harish Hampesh</h6>
                                    <p>Harish got a new position. Cheers!!! </p>
                                    <p><span>2 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        @*<li>
                            <a href="#">
                                <div class="user_img"><img src="~/FrontUsersPro/images/a4.jpg" alt=""></div>
                                <div class="notification_desc">
                                    <h6>James Smith</h6>
                                    <p>Lorem ipsum dolor</p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>*@
                        <li>
                            <div class="notification_bottom">
                                <a href="#">See all Notifications</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li class="hidden second top_bell_nav">
            <ul class="top_dp_agile ">
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="badge blue">3</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>Your Messages</h3>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user_img"><img src="~/FrontUsersPro/images/a3.jpg" alt=""></div>
                                <div class="notification_desc">
                                    <h6>John Smith</h6>
                                    <p>Lorem ipsum dolor</p>
                                    <p><span>3 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li class="odd">
                            <a href="#">
                                <div class="user_img"><img src="~/FrontUsersPro/images/a1.jpg" alt=""></div>
                                <div class="notification_desc">
                                    <h6>Jasmin Leo</h6>
                                    <p>Lorem ipsum dolor</p>
                                    <p><span>2 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user_img"><img src="~/FrontUsersPro/images/a2.jpg" alt=""></div>
                                <div class="notification_desc">
                                    <h6>James Smith</h6>
                                    <p>Lorem ipsum dolor</p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <div class="notification_bottom">
                                <a href="#">See all Messages</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li class="hidden second top_bell_nav">
            <ul class="top_dp_agile ">
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue">9</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>Technically your position</h3>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Programming C</span><span class="percentage">40%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar yellow" style="width:40%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <span class="task-desc">asp.net</span><span class="percentage">90%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar green" style="width:90%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Android</span><span class="percentage">33%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar red" style="width: 33%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Troubleshooting</span><span class="percentage">80%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar  blue" style="width: 80%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="notification_bottom">
                                <a href="#">See all pending tasks</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="hidden second full-screen">
            <section class="full-top">
                <button id="toggle"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
            </section>
        </li>
        <li class="second w3l_search">

            @using (Html.BeginForm("AllCanSub", "Student", new { id = @ViewBag.userid }, FormMethod.Get))
        {
            <input type="search" name="search" placeholder="Search here..." required="">
            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    }

        </li>


        <li class="second top_bell_nav">
            <ul class="top_dp_agile " style="right:0">
                <li class="dropdown head-dpdn" style="right:0;">
                    @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge blue">3</span></a>*@
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style=" right:0;" aria-expanded="true"><i class="fa fa-cogs" aria-hidden="true"></i> </a>
                    @{

                    <ul class="dropdown-menu" style="right:0;background-color:dodgerblue">


                        <li>

                            <a href="~/Student/Update/@ViewBag.id"><i class="fa fa-user"></i> Update profile</a>
                        </li>


                        <li style="background-color:dodgerblue"> <a href="javascript:document.getElementById('logoutform').submit()"><i class="fa fa-sign-out"></i> Logout</a> </li>


                        @using (Html.BeginForm("Cand_Logout", "Student", FormMethod.Post, new { id = "logoutform" })) { }

                    </ul>

                    }
                </li>

            </ul>
        </li>

        </ul>
        <!-- //nav -->

    </div>
    <div class="clearfix"></div>
    <!-- //w3_agileits_top_nav-->
    <!-- /inner_content-->
    <div class="inner_content">
        <!-- /inner_content_w3_agile_info-->
        <!-- breadcrumbs -->
        <div class="w3l_agileits_breadcrumbs">
            <div class="w3l_agileits_breadcrumbs_inner">
                <ul>
                    @*<li><a href="~/Home/Index">Home</a><span>«</span></li>*@
                    <li><a href="~/Student/User_Profile">Home</a><span>«</span></li>
                    <li>Your Subject</li>
                </ul>
            </div>
        </div>
        <!-- //breadcrumbs -->
        <div class="inner_content_w3_agile_info two_in">
            <h2 class="w3_inner_tittle">Details</h2><h4 style="color:red">(Click Enroll for for download)</h4>
            <br />
            <div class="blank_w3ls_agile">
                <div class="blank-page agile_info_shadow">
                    <p>
                        <dl class="dl-horizontal">
                            @*<dt>
                            @Html.DisplayNameFor(model => model.Doc_id)
                            </dt>

                            <dd>
                            @Html.DisplayFor(model => model.Doc_id)
                            </dd>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.Doc_Title)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Doc_Title)
                            </dd>

                            @*<dt>
                            @Html.DisplayNameFor(model => model.Doc_Path)
                            </dt>

                            <dd>
                            @Html.DisplayFor(model => model.Doc_Path)
                            </dd>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.Doc_ImagePath)
                            </dt>

                            <dd>
                                @*@Html.DisplayFor(model => model.Doc_ImagePath)*@
                                @if (@Url.Content(Model.Doc_ImagePath) != null)
                                {
                                <img src="@Url.Content(Model.Doc_ImagePath)" width="150" height="150" />
                                }
                                else
                                {
                                @Html.DisplayFor(model => model.Doc_ImagePath)
                                }
                            </dd>
                            <br />
                            <dd> <a class="fa fa-backward" style="border-color:brown" href="~/Student/AllCanSub"> &nbsp;<b>Go back</b> &nbsp; </a>||
                                 <a class="btn btn-default" style="border-color:brown" href="~/Training_main/Doc_upload"> &nbsp;<b>Enroll Now</b> &nbsp; </a>
                            </dd>

                        </dl>


                        @*@Html.ActionLink("Download", "download") |*@
                        @*@Html.ActionLink("Back to List", "AllView")*@
                        @*<a class="fa fa-backward" style="border-color:brown" href="~/Student/AllCanSub"> &nbsp;<b>Go back</b> &nbsp; </a>||
                        <a class="btn btn-default" style="border-color:brown" href="~/Training_main/Doc_upload"> &nbsp;<b>Enroll Now</b> &nbsp; </a>*@
                    </p>
                    </div>
                </div>
                <!-- //blank -->
                <!-- /social_media-->
                <div class="social_media_w3ls">

                    <div class="col-md-3 socail_grid_agile facebook">
                        <ul class="icon_w3_info">
                            <li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li>Facebook</li>
                        </ul>
                        <ul class="icon_w3_social">
                            <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-user" aria-hidden="true"></i></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="bottom_info_social">
                            <div class="col-md-4 agile_w3l_social_media_text_img">
                                <img src="~/FrontUsersPro/images/admin.jpg" alt="">
                            </div>
                            <div class="col-md-8 agile_w3l_social_media_text">
                                <h4>Hurisa Joe</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-3 socail_grid_agile twitter">
                        <ul class="icon_w3_info">
                            <li><a href="#" class="wthree_facebook"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li>Twitter</li>
                        </ul>
                        <ul class="icon_w3_social">
                            <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-user" aria-hidden="true"></i></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="bottom_info_social">
                            <div class="col-md-4 agile_w3l_social_media_text_img">
                                <img src="~/FrontUsersPro/images/a1.jpg" alt="">
                            </div>
                            <div class="col-md-8 agile_w3l_social_media_text">
                                <h4>Jasmin Joe</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-3 socail_grid_agile gmail">
                        <ul class="icon_w3_info">
                            <li><a href="#" class="wthree_facebook"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li>Google+</li>
                        </ul>
                        <ul class="icon_w3_social">
                            <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-user" aria-hidden="true"></i></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="bottom_info_social">
                            <div class="col-md-4 agile_w3l_social_media_text_img">
                                <img src="~/FrontUsersPro/images/a2.jpg" alt="">
                            </div>
                            <div class="col-md-8 agile_w3l_social_media_text">
                                <h4>John Pal</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-3 socail_grid_agile dribble">

                        <ul class="icon_w3_info">
                            <li><a href="#" class="wthree_facebook"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li>Dribbble</li>
                        </ul>
                        <ul class="icon_w3_social">
                            <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-user" aria-hidden="true"></i></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="bottom_info_social">
                            <div class="col-md-4 agile_w3l_social_media_text_img">
                                <img src="~/FrontUsersPro/images/a4.jpg" alt="">
                            </div>
                            <div class="col-md-8 agile_w3l_social_media_text">
                                <h4>Honey Pal</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="clearfix"></div>

                </div>
                <!-- //social_media-->
            </div>
            <!-- //inner_content_w3_agile_info-->
        </div>
    <!-- //inner_content-->
    </div>
    <!-- banner -->
    <!--copy rights start here-->
    <div class="copyrights">
        <p>© 2017 EOTA MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/">ELEPHANTTREE TECH PVT.LTD.</a></p>
    </div>
    <!--copy rights end here-->
    <!-- js -->

    <script type="text/javascript" src="~/FrontUsersPro/js/jquery-2.1.4.min.js"></script>
    <script src="~/FrontUsersPro/js/modernizr.custom.js"></script>

    <script src="~/FrontUsersPro/js/classie.js"></script>
    <script src="~/FrontUsersPro/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', init);
        function init() {
            var mapOptions = {
                zoom: 11,
                center: new google.maps.LatLng(40.6700, -73.9400),
                styles: [{ "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#000000" }, { "lightness": 40 }] }, { "featureType": "all", "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "all", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 17 }, { "weight": 1.2 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 21 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 19 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
            });
        }
    </script>
    <script src="~/FrontUsersPro/js/prettymaps.js"></script>
    <script>

        $(function () {
            //default
            $('.map-canvas').prettyMaps({
                address: 'Melbourne, Australia',
                image: 'map-icon.png',
                hue: '#FF0000',
                saturation: -20
            });

            //red map example
            $('#default-map-btn').on('click', function () {
                $('.map-canvas').prettyMaps();
            });

            //green map example
            $('#green-map-btn').on('click', function () {
                $('.map-canvas').prettyMaps({
                    address: 'Melbourne, Australia',
                    image: 'map-icon.png',
                    hue: '#00FF55',
                    saturation: -30
                });
            });

            //blue map example
            $('#blue-map-btn').on('click', function () {
                $('.map-canvas').prettyMaps({
                    address: 'Melbourne, Australia',
                    image: 'map-icon.png',
                    hue: '#0073FF',
                    saturation: -30,
                    zoom: 16,
                    panControl: true,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    overviewMapControl: true,
                    scrollwheel: false,
                });
            });

            //grey map example
            $('#grey-map-btn').on('click', function () {
                $('.map-canvas').prettyMaps({
                    address: 'Melbourne, Australia',
                    image: 'map-icon.png',
                    saturation: -100,
                    lightness: 10
                });
            });
        });

    </script>
    <!-- //js -->
    <script src="~/FrontUsersPro/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="~/FrontUsersPro/js/jquery.nicescroll.js"></script>
    <script src="~/FrontUsersPro/js/scripts.js"></script>

    <script type="text/javascript" src="~/FrontUsersPro/js/bootstrap-3.1.1.min.js"></script>


</body>
</html>