﻿
@model IEnumerable<ElephanttreeOnlineCourses.Models.Post_Cours>
@{
    Layout = null;

}
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>EOTA: Already paid courses</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="EOTA: Already paid courses" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/FrontUsersPro/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/newcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/FrontUsersPro/css/shop.css" type="text/css" media="screen" property="" />
    <!-- font-awesome-icons -->
    <link href="~/FrontUsersPro/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->

    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/FontAwesome.otf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.eot" rel="stylesheet">
    @*<img src="~/FrontUsersPro/fonts/glyphicons-halflings-regular.svg" />*@
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff" rel="stylesheet">
    <link href="~/css/newcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//FrontUsersPro/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="wthree_agile_admin_info">
        <!-- /w3_agileits_top_nav-->
        <!-- /nav-->
        <div class="w3_agileits_top_nav">
            <ul id="gn-menu" class="gn-menu-main">
                <!-- /nav_agile_w3l -->
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" style="color:#fff;" aria-hidden="true"></i><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller scrollbar1">
                            <ul class="gn-menu agile_menu_drop">
                                <li>
                                    <a href=""> <i class="fa fa-book" aria-hidden="true"></i>Paid Courses <i class="fa " aria-hidden="true"></i></a>

                                </li>
                                <li><a href="~/Student/Mocktst/@ViewBag.id"> <i class="fa fa-table" aria-hidden="true"></i> Mock Test</a></li>

                                @*<li>
                            <a href="#"><i class="fa fa-list" aria-hidden="true"></i>Pay for Subject <i class="fa fa-angle-down" aria-hidden="true"> </i></a>
                            <ul class="gn-submenu">
                                <li class="mini_list_agile"><a href="typo.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Monthly Basis</a></li>
                                <li class="mini_list_w3"><a href="icons.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Subject Basis</a></li>

                            </ul>
                        </li>*@

                                <li><a href="~/Student/Certificates/@ViewBag.id"> <i class="fa fa-line-chart" aria-hidden="true"></i> Certificate</a></li>
                                @*<li><a href="maps.html"><i class="fa fa-map-o" aria-hidden="true"></i> Help/Training process</a></li>*@


                                <a href='@Url.Action("Help", "Student", new { id = @ViewBag.id })'><i class="fa fa-plus-square" aria-hidden="true"></i> Help/Training process</a>


                                <li>


                                    <a href='@Url.Action("Frndportal", "Student", new { id = @ViewBag.id })'><i class="fa  fa-user" aria-hidden="true"></i>Refer a friend</a>


                                </li>

                            </ul>
                        </div><!-- /gn-scroller -->
                    </nav>
                </li>
                <!-- //nav_agile_w3l -->

                <li class="second logo"> <img src="~/Picture/logoeot.png" style="width:160px; padding:10px 0px 20px 0px; "></li>

                <li class="second admin-pic">
                    <ul class="top_dp_agile">
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="~/Picture/Avatar-male.png" style="width:50px;max-height:70px;padding:5px; border-radius: 100%;top:0"></span>
                                    @*<span class="prfil-img"><img src="images/admin.jpg" alt=""> </span>*@
                                </div>
                            </a>
                            @*<ul class="dropdown-menu drp-mnu">*@
                            @{
                            <ul class="dropdown-menu drp-mnu">

                                <li>

                                    <a href="~/Student/Update/@ViewBag.id"><i class="fa fa-user"></i> Update profile</a>
                                </li>

                                <li> <a href="javascript:document.getElementById('logoutform').submit()"><i class="fa fa-sign-out"></i> Logout</a> </li>


                                @using (Html.BeginForm("Cand_Logout", "Student", FormMethod.Post, new { id = "logoutform" })) { }

                            </ul>

                            }
                            @*<li> <a href="#"><i class="fa fa-cog" style="color:#000;"></i> Settings</a> </li>
                        <li> <a href="#"><i class="fa fa-user" style="color:#000;"></i> Profile</a> </li>
                        <li> <a href="#"><i class="fa fa-sign-out" style="color:#000;"></i> Logout</a> </li>
                    </ul>*@
                        </li>

                    </ul>
                </li>
                <li class="second top_bell_nav">
                    <ul class="top_dp_agile ">
                        <li class="dropdown head-dpdn">
                            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge blue">3</span></a>*@
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-book" aria-hidden="true"> Course</i> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href='@Url.Action("Allcrs", "Student", new { id = "A`"+ @ViewBag.id })'>
                                        <div class="user_img"><img src="~/FrontUsersPro/images/academic.jpg" alt=""></div>
                                        <div class="task-info">
                                            <div class="notification_desc">
                                                <h6>
                                                    Academic Course
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Allcrs", "Student", new { id = "T`"+ @ViewBag.id })'>
                                        <div class="user_img"><img src="~/FrontUsersPro/images/Technical.png" alt=""></div>
                                        <div class="task-info">
                                            <div class="notification_desc">
                                                <h6>
                                                    Technical Course
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </a>
                                </li>

                                <li>

                                    <a href='@Url.Action("Allcrs", "Student", new { id = "M`"+ @ViewBag.id })'>
                                        <div class="user_img"><img src="~/FrontUsersPro/images/management.jpg" alt=""></div>
                                        <div class="task-info">
                                            <div class="notification_desc">
                                                <h6> Management Course</h6>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                    </a>
                                </li>

                                <li>
                                    <a href='@Url.Action("AllCanSub", "Student", new { id = @ViewBag.id })'>
                                        <div class="notification_bottom">
                                            <p>All Courses</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </li>

                    </ul>
                </li>
                <li class="second top_bell_nav">
                    <ul class="top_dp_agile ">
                        <li class="dropdown head-dpdn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-envelope-o" aria-hidden="true" style="color:#fff;"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="notification_header">
                                        <h3>This portion will comming soon...</h3>
                                    </div>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="second top_bell_nav hidden">
                    <ul class="top_dp_agile ">
                        <li class="dropdown head-dpdn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks" style="color:#fff;"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="notification_header">
                                        <h3>You have 4 Pending tasks</h3>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar yellow" style="width:40%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar green" style="width:90%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar red" style="width: 33%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar  blue" style="width: 80%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="notification_bottom">
                                        <a href="#">See all pending tasks</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="second w3l_search">

                    @using (Html.BeginForm("AllCanSub", "Student", new { id = @ViewBag.id }, FormMethod.Get))
        {
            <input type="search" name="search" placeholder="Search here..." required="">
            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
}

                </li>
            </ul>
            <!-- //nav -->

        </div>
        <div class="clearfix"></div> <!-- //w3_agileits_top_nav-->
        <!-- /inner_content-->
        <div class="inner_content">
            <!-- /inner_content_w3_agile_info-->
            <!-- breadcrumbs -->
            <div class="paid_banner" style="background-image:url('~/');">

                <div class="w3l_agileits_breadcrumbs">
                    <div class="w3l_agileits_breadcrumbs_inner">
                        <ul>
                            @*<li><a href="~/Home/Index">Home</a><span>«</span></li>*@
                            <li><a href="~/Student/User_Profile">Home</a><span>«</span></li>
                            <li>Paid Course</li>
                        </ul>
                    </div>
                </div>
                <!-- //breadcrumbs -->
            </div>
            <div class="inner_content_w3_agile_info two_in">

                <!-- /blank -->
                <div class="blank_w3ls_agile">
                    <div class="blank-page agile_info_shadow">

                        <div class="container">
                            <h3 class="tittlef-agileits-w3layouts white-clrf" style="color:#000;">Paid courses</h3>

                                        <div class="carousel slide materialf-slider" id="myCarousel1">
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <ul class="thumbnails">
                                                        @{
        foreach (var secretcds in ViewBag.courselist)
        {

            foreach (var crs in Model.Select(s => new { s.Title, s.Course_Type, s.Secret_Code, s.EnableDisable }).Distinct().Where(x => x.Secret_Code == secretcds && x.EnableDisable == true).ToArray())
            {
                                                    <li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
                                                        <div class="fff">
                                                            <div class="thumbnail">
                                                                <a href="~/Student/Vid_CanAllView/@crs.Secret_Code`@ViewBag.id"><img src="~/images/g111.jpg" alt=""></a>
                                                                <p><span class="fa fa-hand-o-down" aria-hidden="true"></span>Course Name</p>
                                                            </div>

                                                            <a href="~/Student/Vid_CanAllView/@crs.Secret_Code`@ViewBag.id">
                                                                <h4 class="clrchg"> @crs.Title</h4>
                                                            </a>
                                                           
                                                            <div class="matrlf-mid">

                                                                @*<ul class="rating">
                                                                    <li>
                                                                        <a href="#">
                                                                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>*@

                                                                <button type="submit" class="edu-cart pedu-cart"><i class="fa fa-folder-open" aria-hidden="true"></i><a href="~/Student/Vid_CanAllView/@crs.Secret_Code`@ViewBag.id" style="color:black; padding-left:5px;">Open</a></button>

                                                            </div>

                                                        </div>
                                                    </li>


}
}


                                                        }


                                                    </ul>
                                                </div>
                                                <!-- /Slide1 -->


                                            </div>
                                            <!-- /Slide3 -->
                                        </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!-- //blank -->
        <!-- /social_media-->
        <!-- //social_media-->
    </div>
    <!-- //inner_content_w3_agile_info-->
    </div>
    <!-- //inner_content-->
    </div>
    <!-- banner -->
    <!-- footer -->
 
  <div class="footer_agileinfo_topf">
        <div class="container">
            <div class="container">
                <div class="col-md-4 footer_w3layouts_gridf">
                    <h2>EOTA</h2>
                    <p class="paragraphf">Providing best coaching at affordable prices.</p>
                </div>
                <div class="col-md-4 footer_w3layouts_gridf">
                    <nav>
                        <ul class="footer_w3layouts_gridf_list">
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#About" target="_blank">About Us</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#service" target="_blank">Services</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#products" target="_blank">Products</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 footer_w3layouts_gridf">
                    <nav>
                        <ul class="footer_w3layouts_gridf_list">
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#jobs" target="_blank">Careers</a>
                            </li>

                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#technology" target="_blank">Technology</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#contact" target="_blank">Contact</a>
                            </li>

                        </ul>
                    </nav>


                </div>
                <div class="clearfix"> </div>
                <div class="w3ls-fsocial-grid">
                    <h3 class="sub-w3ls-headf">Follow Us</h3>
                    <div class="social-ficons">
                        <ul>
                            <li><a href="https://www.facebook.com/12Elephanttrees/" target="_blank"><span class="fa fa-facebook"></span> Facebook</a></li>
                            <li><a href="https://twitter.com/12Elephanttrees" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
                            <li><a href="https://www.linkedin.com/in/elephanttree-technologies-private-limited-174699145/" target="_blank"><span class="fa fa-linkedin-square"></span>Linkdin</a></li>
                        </ul>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <div class="footer-wthree-copyf" style="background-color:lavender">
        <div class="container">
       
            <p>© 2018 EOTA MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/" target="_blank"> ELEPHANTTREE TECH PVT.LTD.</a></p>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- js -->

    <script type="text/javascript" src="~/FrontUsersPro/js/jquery-2.1.4.min.js"></script>
    <script src="~/FrontUsersPro/js/modernizr.custom.js"></script>

    <script src="~/FrontUsersPro/js/classie.js"></script>
    <script src="~/FrontUsersPro/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', init);
        function init() {
            var mapOptions = {
                zoom: 11,
                center: new google.maps.LatLng(40.6700, -73.9400),
                styles: [{ "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#000000" }, { "lightness": 40 }] }, { "featureType": "all", "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "all", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 17 }, { "weight": 1.2 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 21 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 19 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
            });
        }
    </script>
    <script src="~/FrontUsersPro/js/prettymaps.js"></script>
    <script>

        $(function () {
            //default
            $('.map-canvas').prettyMaps({
                address: 'Melbourne, Australia',
                image: 'map-icon.png',
                hue: '#FF0000',
                saturation: -20
            });

            //red map example
            $('#default-map-btn').on('click', function () {
                $('.map-canvas').prettyMaps();
            });

            //green map example
            $('#green-map-btn').on('click', function () {
                $('.map-canvas').prettyMaps({
                    address: 'Melbourne, Australia',
                    image: 'map-icon.png',
                    hue: '#00FF55',
                    saturation: -30
                });
            });

            //blue map example
            $('#blue-map-btn').on('click', function () {
                $('.map-canvas').prettyMaps({
                    address: 'Melbourne, Australia',
                    image: 'map-icon.png',
                    hue: '#0073FF',
                    saturation: -30,
                    zoom: 16,
                    panControl: true,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    overviewMapControl: true,
                    scrollwheel: false,
                });
            });

            //grey map example
            $('#grey-map-btn').on('click', function () {
                $('.map-canvas').prettyMaps({
                    address: 'Melbourne, Australia',
                    image: 'map-icon.png',
                    saturation: -100,
                    lightness: 10
                });
            });
        });

    </script>
    <!-- //js -->
    <script src="~/FrontUsersPro/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }
            
            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="~/FrontUsersPro/js/jquery.nicescroll.js"></script>
    <script src="~/FrontUsersPro/js/scripts.js"></script>

    <script type="text/javascript" src="~/FrontUsersPro/js/bootstrap-3.1.1.min.js"></script>


</body>
</html>