﻿
@{
    Layout = null;
}
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>EOTA: Home-> Test-> Result</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="EOTA: Home-> Test-> Result" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/FrontUsersPro/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome-icons -->
    <link href="~/FrontUsersPro/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->

    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/FontAwesome.otf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.eot" rel="stylesheet">
    @*<img src="~/FrontUsersPro/fonts/glyphicons-halflings-regular.svg" />*@
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff" rel="stylesheet">
    <link href="~/css/newcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//FrontUsersPro/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <style>
        .dropbtn {
            background-color: #808080;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #b4aea8;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: blue;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>

</head>
<body>
    <style>
        #ac-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,.6);
            z-index: 1001;
        }

        #popup {
            width: 555px;
            height: 375px;
            background: #FFFFFF;
            border: 5px solid #000;
            border-radius: 25px;
            -moz-border-radius: 25px;
            -webkit-border-radius: 25px;
            box-shadow: #64686e 0px 0px 3px 3px;
            -moz-box-shadow: #64686e 0px 0px 3px 3px;
            -webkit-box-shadow: #64686e 0px 0px 3px 3px;
            position: relative;
            top: 150px;
            left: 375px;
        }
    </style>
    <div id="ac-wrapper">
        <div id="popup" style="background-color:#cfc7c7">
            <button type="button" style="float:right" onClick="PopUp()">&times;</button>

            <br />
            <h3 class="agile_head text-center" style="color:black">User Feedback Form</h3>
            <br />
            <div>
                <h3 style="color:red">@ViewBag.error</h3>

                <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
                <link href="~/Sale_FrontUsersPro/css/ratings.css" rel="stylesheet" />

                <form action="~/Student/star?" method="post" class="agile_form" style="padding-left:90px">

                    <div class="stars ">
                        <input class="star star-5" id="star-5" type="radio" value="1" name="star" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" value="2" name="star" />
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" value="3" name="star" />
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" value="4" name="star" />
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-5" id="star-1" type="radio" value="5" name="star" />
                        <label class="star star-5" for="star-1"></label>

                    </div>
                    <br />
                    <input type="hidden" name="userid" value="@ViewBag.uid" />
                    <input type="hidden" name="crscd" value="@ViewBag.Course_Code" />
                    <input type="hidden" name="rsltid" value="@ViewBag.rsltid" />
                    <div style="padding-left:10px">
                        <textarea placeholder="Additional comments" name="cmmnts" cols="55" rows="8" style="background-color:antiquewhite"></textarea>
                    </div>
                    <div style="padding-left:10px">
                        <input type="submit" value="Submit" style="background-color:burlywood;color:black" />
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        function PopUp() {
            document.getElementById('ac-wrapper').style.display = "none";

        }
        if (@ViewBag.ok=="2") {
            $(document).ready(function () {
                setTimeout(function () {
                    PopUp();
                }, 1000); // 5000 to load it after 5 seconds from page load
            });
        }
          if (@ViewBag.ok=="1") {
              document.getElementById('ac-wrapper').style.display = "none";
        }
    </script>


    <!-- banner -->
    <div class="wthree_agile_admin_info">
        <!-- /w3_agileits_top_nav-->
        <!-- /nav-->
        <div class="w3_agileits_top_nav">
            <ul id="gn-menu" class="gn-menu-main">
                <!-- /nav_agile_w3l -->
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller scrollbar1">
                            <ul class="gn-menu agile_menu_drop">
                                <li>
                                    <a href="~/Student/paidcourse/@ViewBag.uid"> <i class="fa fa-book" aria-hidden="true"></i>Paid Courses <i class="fa " aria-hidden="true"></i></a>

                                </li>
                                <li><a href="~/Student/Mocktst/@ViewBag.uid"> <i class="fa fa-table" aria-hidden="true"></i> Mock Test</a></li>

                                @*<li>
                                        <a href="#"><i class="fa fa-list" aria-hidden="true"></i>Pay for Subject <i class="fa fa-angle-down" aria-hidden="true"> </i></a>
                                        <ul class="gn-submenu">
                                            <li class="mini_list_agile"><a href="typo.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Monthly Basis</a></li>
                                            <li class="mini_list_w3"><a href="icons.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Subject Basis</a></li>

                                        </ul>
                                    </li>*@

                                <li><a href="~/Student/Certificates/@ViewBag.uid"> <i class="fa fa-line-chart" aria-hidden="true"></i> Certificate</a></li>

                                <li>
                                    <a href="~/Student/Help/@ViewBag.uid"><i class="fa fa-plus-square" aria-hidden="true"></i> Help/Training process</a>
                                </li>

                                <li>
                                    <a href="~/Student/Frndportal/@ViewBag.uid"> <i class="fa fa-user" aria-hidden="true"></i>Refer a friend <i class="fa " aria-hidden="true"></i></a>

                                </li>

                            </ul>
                        </div><!-- /gn-scroller -->
                    </nav>
                </li>
                <!-- //nav_agile_w3l -->

                <li class="second logo"> <img src="~/Picture/logoeot.png" style="width:160px; padding:10px 0px 20px 0px; "></li>

                <li class="second admin-pic">
                    <ul class="top_dp_agile">
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="~/Picture/Avatar-male.png" style="width:50px;max-height:70px;padding:5px; border-radius: 100%;top:0"></span>
                                    @*<span class="prfil-img"><img src="images/admin.jpg" alt=""> </span>*@
                                </div>
                            </a>
                            @*<ul class="dropdown-menu drp-mnu">*@
                            @{
                            <ul class="dropdown-menu drp-mnu">

                                <li>

                                    <a href="~/Student/Update/@ViewBag.uid"><i class="fa fa-user"></i> Update profile</a>
                                </li>


                                <li> <a href="javascript:document.getElementById('logoutform').submit()"><i class="fa fa-sign-out"></i> Logout</a> </li>


                                @using (Html.BeginForm("Cand_Logout", "Student", FormMethod.Post, new { id = "logoutform" })) { }

                            </ul>

                            }
                            @*<li> <a href="#"><i class="fa fa-cog" style="color:#000;"></i> Settings</a> </li>
                                    <li> <a href="#"><i class="fa fa-user" style="color:#000;"></i> Profile</a> </li>
                                    <li> <a href="#"><i class="fa fa-sign-out" style="color:#000;"></i> Logout</a> </li>
                                </ul>*@
                        </li>

                    </ul>
                </li>
                <li class="second top_bell_nav">
                    <ul class="top_dp_agile ">
                        <li class="dropdown head-dpdn">
                            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge blue">3</span></a>*@
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-book" aria-hidden="true"> Course</i> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href='@Url.Action("Allcrs", "Student", new { id = "A`"+ @ViewBag.uid })'>
                                        <div class="user_img"><img src="~/FrontUsersPro/images/academic.jpg" alt=""></div>
                                        <div class="task-info">
                                            <div class="notification_desc">
                                                <h6>
                                                    Academic Course
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Allcrs", "Student", new { id = "T`"+ @ViewBag.uid })'>
                                        <div class="user_img"><img src="~/FrontUsersPro/images/Technical.png" alt=""></div>
                                        <div class="task-info">
                                            <div class="notification_desc">
                                                <h6>
                                                    Technical Course
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </a>
                                </li>

                                <li>

                                    <a href='@Url.Action("Allcrs", "Student", new { id = "M`"+ @ViewBag.uid })'>
                                        <div class="user_img"><img src="~/FrontUsersPro/images/management.jpg" alt=""></div>
                                        <div class="task-info">
                                            <div class="notification_desc">
                                                <h6> Management Course</h6>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                    </a>
                                </li>

                                <li>
                                    <a href='@Url.Action("AllCanSub", "Student", new { id = @ViewBag.uid })'>
                                        <div class="notification_bottom">
                                            <p>All Courses</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </li>

                    </ul>
                </li>
                <li class="second top_bell_nav">
                    <ul class="top_dp_agile ">
                        <li class="dropdown head-dpdn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-envelope-o" aria-hidden="true" style="color:#fff;"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="notification_header">
                                        <h3>This portion will comming soon...</h3>
                                    </div>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="second top_bell_nav hidden">
                    <ul class="top_dp_agile ">
                        <li class="dropdown head-dpdn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks" style="color:#fff;"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="notification_header">
                                        <h3>You have 4 Pending tasks</h3>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar yellow" style="width:40%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar green" style="width:90%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar red" style="width: 33%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar  blue" style="width: 80%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="notification_bottom">
                                        <a href="#">See all pending tasks</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="second w3l_search">

                    @using (Html.BeginForm("AllCanSub", "Student", new { id = @ViewBag.uid }, FormMethod.Get))
                    {
                        <input type="search" name="search" placeholder="Search here..." required="">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    }

                </li>

            </ul>
            <!-- //nav -->

        </div>
        <div class="clearfix"></div>
        <!-- //w3_agileits_top_nav-->
        @*<script type="text/javascript">
                $('#myModal').modal('hide');
                function PopUp1(hideOrshow) {
                    if (hideOrshow == 'hide') {

                        $('#myModal1').modal('hide');
                    }
                    else document.getElementById('myModal1').removeAttribute('style');

                }
            </script>*@
        <!-- /inner_content-->
        <div class="inner_content" style="background-color:grey">
            <!-- /inner_content_w3_agile_info-->
            <div class="w3l_agileits_breadcrumbs">
                <div class="w3l_agileits_breadcrumbs_inner">
                    <ul>
                        @*<li><a href="~/Student/User_Profile">Home</a><span>«</span></li>*@
                        <li><a href="~/Student/Mocktst/@ViewBag.uid">Mock Test</a><span>«</span></li>
                        <li>Result</li>
                    </ul>
                </div>
            </div>
            <!-- //breadcrumbs -->

            <div class="inner_content_w3_agile_info two_in">
                <p class="w3_inner_tittle" style="font-size:25px; text-decoration:none; color:black"><b> Result</b></p>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script>
                    $(document).ready(function () {

                        $("#fdbckthnk").fadeOut(10000);


                    });
                </script>
                @if (ViewBag.ok == "1")
                {
                    if (ViewBag.error != null)
                    {
                        <h3 id="fdbckthnk" style="text-align:center;color:white">Thank you for your feedback</h3>
                    }
                }
                @if (@ViewBag.passmrkmssg != null)
                {
                    <p class="w3_inner_tittle" style="font-size:25px; text-decoration:none; color:orangered;float:none">@ViewBag.passmrkmssg</p>

                }
                @if (@ViewBag.passmrkmssgsuccess != null)
                {
                    <div>
                        <p style="font-size:25px; text-decoration:none; color:green;"><b> @ViewBag.passmrkmssgsuccess</b></p>
                        <form action="~/Student/Certificate" method="get" style="float:right;">
                            <input type="hidden" name="userid" value="@ViewBag.uid" />
                            <input type="hidden" name="crscd" value="@ViewBag.Course_Code" />

                            <input type="submit" style="font-size:20px" class="btn btn-default" value="Certificate" />
                        </form>
                    </div>

                }

                <!-- /blank -->
                <div class="blank_w3ls_agile">
                    <div class="blank-page agile_info_shadow" style="background-color:cadetblue; color:black">
                        <p>
                            @*@using (Html.BeginForm("Mockttststart", "Student", new { Id = @ViewBag.id }))*@

                            @*@Html.AntiForgeryToken()*@
                            <div style="position:center">
                                @{
                                    if (ViewBag.qtp == "N")
                                    {
                                        <h2>  You did @ViewBag.totalmarks correct answers.</h2>
                                        <h2>  Your total marks is  @ViewBag.totalmarks .</h2>
                                    }
                                    else
                                    {
                                        <h2>  You did @ViewBag.totalmarks correct answers And your written marks will be calculated.</h2>
                                        <h2>  </h2>
                                    }
                                }

                            </div>
                            <hr />

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div style="float:left">
                                        <img src="~/Picture/jharkhand-results-l.jpg" height="200" width="230" />
                                    </div>

                                    <div style="width:740px; margin:0 auto;">@*float:right*@

                        <p>

                            <h3><u> Result Certificate</u></h3>
                            <h4>
                                <br />

                                <i class="fa fa-check-square-o" aria-hidden="true"></i>

                                &nbsp;&nbsp; Result will be uploaded shortly.
                                <br /><br />
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                &nbsp;&nbsp;You can give exam again for your better preparation.<br /> &nbsp;&nbsp; &nbsp;&nbsp; For checking certificate, click on “Certificate” [On your menu bar].
                                <br /><br />

                            </h4>
                            <h2>
                                Good luck!
                            </h2>
                            <br />

                        </p>
                    </div>

                </div>

                <div class="form-group" style="float:left">


                </div>
                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="~/Student/Mockttststartpagefirst/@ViewBag.id^@ViewBag.uid]1">
                                <input type="button" value="Start" class="btn btn-default" style="background-color:black; color:wheat" width="50" />
                            </a>
                        </div>
                        <br />
                        <div class="col-md-offset-2 col-md-10">
                            @ViewBag.message
                        </div>
                    </div>*@
            </div>

            </p>
        </div>

        <div class="clearfix"> </div>
    </div>
    </div>

    <br />
    <br />

    </div>
    <!-- //inner_content_w3_agile_info-->
    </div>
    <!-- //inner_content-->
    </div>
    <!-- banner -->
    <!--copy rights start here-->
    <div class="footer_agileinfo_topf">
        <div class="container">
            <div class="container">
                <div class="col-md-4 footer_w3layouts_gridf">
                    <h2>EOTA</h2>
                    <p class="paragraphf">Providing best coaching at affordable prices.</p>
                </div>
                <div class="col-md-4 footer_w3layouts_gridf">
                    <nav>
                        <ul class="footer_w3layouts_gridf_list">
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#About" target="_blank">About Us</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#service" target="_blank">Services</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#products" target="_blank">Products</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 footer_w3layouts_gridf">
                    <nav>
                        <ul class="footer_w3layouts_gridf_list">
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#jobs" target="_blank">Careers</a>
                            </li>

                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#technology" target="_blank">Technology</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#contact" target="_blank">Contact</a>
                            </li>

                        </ul>
                    </nav>


                </div>
                <div class="clearfix"> </div>
                <div class="w3ls-fsocial-grid">
                    <h3 class="sub-w3ls-headf">Follow Us</h3>
                    <div class="social-ficons">
                        <ul>
                            <li><a href="https://www.facebook.com/12Elephanttrees/" target="_blank"><span class="fa fa-facebook"></span> Facebook</a></li>
                            <li><a href="https://twitter.com/12Elephanttrees" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
                            <li><a href="https://www.linkedin.com/in/elephanttree-technologies-private-limited-174699145/" target="_blank"><span class="fa fa-linkedin-square"></span>Linkdin</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-wthree-copyf" style="background-color:lavender">
        <div class="container">

            <p>© 2018 EOTA MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/" target="_blank"> ELEPHANTTREE TECH PVT.LTD.</a></p>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--copy rights end here-->
    <!-- js -->


    <script type="text/javascript" src="~/FrontUsersPro/js/jquery-2.1.4.min.js"></script>
    <script src="~/FrontUsersPro/js/modernizr.custom.js"></script>

    <script src="~/FrontUsersPro/js/classie.js"></script>
    <script src="~/FrontUsersPro/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <!-- input-forms -->
    <script type="text/javascript" src="~/FrontUsersPro/js/valida.2.1.6.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            // show Valida's version.
            $('#version').valida('version');

            // Exemple 1
            $('.valida').valida();

                                        */

            // setup the partial validation
            $('#partial-1').on('click', function (ev) {
                ev.preventDefault();
                $('#res-1').click(); // clear form error msgs
                $('form').valida('partial', '#field-1'); // validate only field-1
                $('form').valida('partial', '#field-1-3'); // validate only field-1-3
            });

        });

    </script>
    <!-- //input-forms -->
    <!--validator js-->
    <script src="~/FrontUsersPro/js/validator.min.js"></script>
    <script src="~/FrontUsersPro/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="~/FrontUsersPro/js/jquery.nicescroll.js"></script>
    <script src="~/FrontUsersPro/js/scripts.js"></script>

    <script type="text/javascript" src="~/FrontUsersPro/js/bootstrap-3.1.1.min.js"></script>

</body>
</html>
