﻿@model ElephanttreeOnlineCourses.Models.Tbl_Cand_Main
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>EOTA: Home-> Update</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="EOTA: Home-> Update" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/FrontUsersPro/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome-icons -->
    <link href="~/FrontUsersPro/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->

    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/FontAwesome.otf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.eot" rel="stylesheet">
    @*<img src="~/FrontUsersPro/fonts/glyphicons-halflings-regular.svg" />*@
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff" rel="stylesheet">
    <link href="~/css/newcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//FrontUsersPro/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <style>
        .dropbtn {
            background-color: #808080;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #b4aea8;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: blue;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>
    <!-- banner -->
    <div class="wthree_agile_admin_info">
        <!-- /w3_agileits_top_nav-->
        <!-- /nav-->
        <div class="w3_agileits_top_nav">
            <ul id="gn-menu" class="gn-menu-main">
                <!-- /nav_agile_w3l -->
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller scrollbar1">
                            <ul class="gn-menu agile_menu_drop">
                                <li>
                                    <a href='@Url.Action("paidcourse", "Student", new { id = Model.Cand_id})'> <i class="fa fa-book" aria-hidden="true"></i>Paid Courses <i class="fa " aria-hidden="true"></i></a>

                                </li>
                                <li><a href='@Url.Action("Mocktst", "Student", new { id = Model.Cand_id})'> <i class="fa fa-table" aria-hidden="true"></i> Mock Test</a></li>

                                <li><a href='@Url.Action("Certificates", "Student", new { id = Model.Cand_id})'> <i class="fa fa-line-chart" aria-hidden="true"></i> Certificate</a></li>
                                @*<li><a href="maps.html"><i class="fa fa-map-o" aria-hidden="true"></i> Help/Training process</a></li>*@


                                <a href='@Url.Action("Help", "Student", new { id = Model.Cand_id })'><i class="fa fa-plus-square" aria-hidden="true"></i> Help/Training process</a>


                                <li>


                                    <a href='@Url.Action("Frndportal", "Student", new { id = Model.Cand_id })'><i class="fa  fa-user" aria-hidden="true"></i>Refer a friend</a>


                                </li>

                            </ul>
                        </div><!-- /gn-scroller -->
                    </nav>
                </li>
                <!-- //nav_agile_w3l -->

                <li class="second logo"> <img src="~/Picture/logoeot.png" style="width:160px; padding:10px 0px 20px 0px; "></li>

                <li class="second admin-pic">
                    <ul class="top_dp_agile">
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="~/Picture/Avatar-male.png" style="width:50px;max-height:70px;padding:5px; border-radius: 100%;top:0"></span>
                                    @*<span class="prfil-img"><img src="images/admin.jpg" alt=""> </span>*@
                                </div>
                            </a>
                            @*<ul class="dropdown-menu drp-mnu">*@
                            @{
                                <ul class="dropdown-menu drp-mnu">
                                    <li>
                                        @{
                                     ViewBag.hhh = Model.Cand_id;
                                        }

                                        <a href="~/Student/Update/@ViewBag.hhh"><i class="fa fa-user"></i> Update profile</a>
                                    </li>

                                    <li> <a href="javascript:document.getElementById('logoutform').submit()"><i class="fa fa-sign-out"></i> Logout</a> </li>


                                    @using (Html.BeginForm("Cand_Logout", "Student", FormMethod.Post, new { id = "logoutform" })) { }

                                </ul>

                            }
                            @*<li> <a href="#"><i class="fa fa-cog" style="color:#000;"></i> Settings</a> </li>
                        <li> <a href="#"><i class="fa fa-user" style="color:#000;"></i> Profile</a> </li>
                        <li> <a href="#"><i class="fa fa-sign-out" style="color:#000;"></i> Logout</a> </li>
                    </ul>*@
                        </li>

                    </ul>
                </li>
                <li class="second top_bell_nav">
                    <ul class="top_dp_agile ">
                        <li class="dropdown head-dpdn">
                            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge blue">3</span></a>*@
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-book" aria-hidden="true"> Course</i> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href='@Url.Action("Allcrs", "Student", new { id = "A`"+ Model.Cand_id })'>
                                        <div class="user_img"><img src="~/FrontUsersPro/images/academic.jpg" alt=""></div>
                                        <div class="task-info">
                                            <div class="notification_desc">
                                                <h6>
                                                    Academic Course
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Allcrs", "Student", new { id = "T`"+ Model.Cand_id })'>
                                        <div class="user_img"><img src="~/FrontUsersPro/images/Technical.png" alt=""></div>
                                        <div class="task-info">
                                            <div class="notification_desc">
                                                <h6>
                                                    Technical Course
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </a>
                                </li>

                                <li>

                                    <a href='@Url.Action("Allcrs", "Student", new { id = "M`"+ Model.Cand_id })'>
                                        <div class="user_img"><img src="~/FrontUsersPro/images/management.jpg" alt=""></div>
                                        <div class="task-info">
                                            <div class="notification_desc">
                                                <h6> Management Course</h6>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                    </a>
                                </li>

                                <li>
                                    <a href='@Url.Action("AllCanSub", "Student", new { id = Model.Cand_id })'>
                                        <div class="notification_bottom">
                                            <p>All Courses</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </li>

                    </ul>
                </li>
                <li class="second top_bell_nav">
                    <ul class="top_dp_agile ">
                        <li class="dropdown head-dpdn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-envelope-o" aria-hidden="true" style="color:#fff;"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="notification_header">
                                        <h3>This portion will comming soon...</h3>
                                    </div>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="second top_bell_nav hidden">
                    <ul class="top_dp_agile ">
                        <li class="dropdown head-dpdn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks" style="color:#fff;"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="notification_header">
                                        <h3>You have 4 Pending tasks</h3>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar yellow" style="width:40%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar green" style="width:90%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar red" style="width: 33%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="bar  blue" style="width: 80%;"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="notification_bottom">
                                        <a href="#">See all pending tasks</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="second w3l_search">

                    @using (Html.BeginForm("AllCanSub", "Student", new { id = Model.Cand_id }, FormMethod.Get))
        {
            <input type="search" name="search" placeholder="Search here..." required="">
            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
}

                </li>
            </ul>
            <!-- //nav -->

        </div>
        <div class="clearfix"></div>
        <!-- //w3_agileits_top_nav-->
        <!-- /inner_content-->
        <div class="inner_content" style="background-color:grey">
            <!-- /inner_content_w3_agile_info-->
            <!-- breadcrumbs -->
            <div class="w3l_agileits_breadcrumbs">
                <div class="w3l_agileits_breadcrumbs_inner">
                    <ul>
                        @*<li><a href="~/Home/Index">Home</a><span>«</span></li>*@
                        <li><a href="~/Student/User_Profile">Home</a><span>«</span></li>
                        <li>Profile Updation</li>
                    </ul>
                </div>
            </div>
            <!-- //breadcrumbs -->

            <div class="inner_content_w3_agile_info two_in">
                @*<h2 class="w3_inner_tittle" style="color:yellow">Updation form :</h2>*@

                <div class="agile-grids" style="background-color:black; color:yellow">
                    <!-- validation -->
                    <div class="grids">

                        <div class="forms-grids">


                            <div class="agile-validation w3ls-validate agile_info_shadow">
                                <div class="inline-form widget-shadow agile-widget-shadow">

                                    <div class="form-body form-body-info">
                                        @using (Html.BeginForm("Update", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
                                    @Html.AntiForgeryToken()

                                        <div class="form-horizontal">


                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            @if (@ViewBag.Duplicatemessage != null)
    {
                                        <div class="form-group">

                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-10" style="color:burlywood">
                                                <h3> @ViewBag.Duplicatemessage</h3>
                                            </div>
                                        </div>

                                        <br />
}

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CandName, htmlAttributes: new { @class = "control-label col-md-2", style = "color: yellow;" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.CandName, new { htmlAttributes = new { @class = "form-control", style = "color: darkblue;", placeholder = "Please give your name", required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.CandName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Cand_EmailId, htmlAttributes: new { @class = "control-label col-md-2", style = "color: yellow;" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Cand_EmailId, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control",
                                                       style = "color: darkblue;",
                                                       placeholder = "Please give your email",
                                                      
                                                       @readonly = "readonly",
                                                       required = "required"@*,id="email"*@}
})
                                                    @Html.ValidationMessageFor(model => model.Cand_EmailId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Cand_MNum, htmlAttributes: new { @class = "control-label col-md-2", style = "color: yellow;" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Cand_MNum, new { htmlAttributes = new { @class = "form-control", style = "color: darkblue;", placeholder = "Please give your number" } })
                                                    @Html.ValidationMessageFor(model => model.Cand_MNum, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2", style = "color: yellow;" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", style = "color: darkblue;", placeholder = "Your address" } })
                                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Cand_Pass, htmlAttributes: new { @class = "control-label col-md-2", style = "color: yellow;" })
                                                <div class="col-md-10">

                                                    @Html.EditorFor(model => model.Cand_Pass, new { htmlAttributes = new { @class = "form-control", style = "color: darkblue;", @Value = "", placeholder = "Your password", required = "required", maxlength = "16", minlength = "6", onkeyup = "javascript:RemoveSpecialChar(this)" } })
                                                    @Html.ValidationMessageFor(model => model.Cand_Pass, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group" id="rstpass">
                                                @Html.LabelFor(model => model.Cand_ResetPassCode, htmlAttributes: new { @class = "control-label col-md-2", style = "color: yellow;" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Cand_ResetPassCode, new { htmlAttributes = new { @class = "form-control", style = "color: darkblue;", @Value = "", placeholder = "New password", maxlength = "16", minlength = "6", onkeyup = "javascript:RemoveSpecialChar(this)" } })
                                                    @Html.ValidationMessageFor(model => model.Cand_ResetPassCode, "", new { @class = "text-danger" })

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Update" class="btn btn-default; " style="background-color:grey; color:yellow" />
                                                    <input type="button" value="Update Password" class="btn btn-default; " onclick="myFunction()" style="background-color:grey; color:yellow" />
                                                </div>
                                                
                                            </div>
                                            <script type="text/javascript">
                                                document.getElementById("rstpass").style.visibility = "hidden";
                                                
                                                function myFunction() {
                                                    var x = document.getElementById("rstpass");
                                                    if (x.style.visibility == "hidden") {
                                                        x.style.visibility = "visible";
                                                        
                                                    } else {
                                                        x.style.visibility = "hidden";
                                                      
                                                    }
                                                }

                                            </script>

                                            <script language="javascript" type="text/javascript">
                                                function RemoveSpecialChar(txtName) {
                                                    if (txtName.value != '' && txtName.value.match(/^[\w ]+$/) == null) {
                                                        txtName.value = txtName.value.replace(/[\W]/g, '');
                                                    }
                                                }
                                            </script>

                                            <script type="text/javascript">

                                                function isNumberKey(evt) {
                                                    var charCode = (evt.which) ? evt.which : event.keyCode;
                                                    if (charCode > 31
                                                        && (charCode < 48 || charCode > 57))
                                                        return false;

                                                    return true;
                                                }
                                            </script>
                                        </div>
}
                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
            <!-- //social_media-->
        </div>
        <!-- //inner_content_w3_agile_info-->
    </div>
    <!-- //inner_content-->
    </div>
    <!-- banner -->
    <!--copy rights start here-->
    <div class="copyrights">
        <p>© 2017 EOTA MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/">ELEPHANTTREE TECH PVT.LTD.</a></p>
    </div>
    <!--copy rights end here-->
    <!-- js -->


    <script type="text/javascript" src="~/FrontUsersPro/js/jquery-2.1.4.min.js"></script>
    <script src="~/FrontUsersPro/js/modernizr.custom.js"></script>

    <script src="~/FrontUsersPro/js/classie.js"></script>
    <script src="~/FrontUsersPro/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <!-- input-forms -->
    <script type="text/javascript" src="~/FrontUsersPro/js/valida.2.1.6.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            // show Valida's version.
            $('#version').valida('version');

            // Exemple 1
            $('.valida').valida();

            // Exemple 2
            /*
            $('.valida').valida({

                // basic settings
                validate: 'novalidate',
                autocomplete: 'off',
                tag: 'p',

                // default messages
                messages: {
                    submit: 'Wait ...',
                    required: 'Este campo é obrigatório',
                    invalid: 'Field with invalid data',
                    textarea_help: 'Digitados <span class="at-counter">{0}</span> de {1}'
                },

                // filters & callbacks
                use_filter: true,

                // a callback function that will be called right before valida runs.
                // it must return a boolan value (true for good results and false for errors)
                before_validate: null,

                // a callback function that will be called right after valida runs.
                // it must return a boolan value (true for good results and false for errors)
                after_validate: null

            });
            */

            // setup the partial validation
            $('#partial-1').on('click', function (ev) {
                ev.preventDefault();
                $('#res-1').click(); // clear form error msgs
                $('form').valida('partial', '#field-1'); // validate only field-1
                $('form').valida('partial', '#field-1-3'); // validate only field-1-3
            });

        });

    </script>
    <!-- //input-forms -->
    <!--validator js-->
    <script src="~/FrontUsersPro/js/validator.min.js"></script>
    <script src="~/FrontUsersPro/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="~/FrontUsersPro/js/jquery.nicescroll.js"></script>
    <script src="~/FrontUsersPro/js/scripts.js"></script>

    <script type="text/javascript" src="~/FrontUsersPro/js/bootstrap-3.1.1.min.js"></script>


    <script type="text/javascript">
        var video = document.getElementById("email");
        var btn = document.getElementById("myBtn");

        $(video).ready(function () {
            //Disable cut copy paste
            $('video').bind('cut copy paste', function (e) {
                e.preventDefault();
            });

            //Disable mouse right click
            $("video").on("contextmenu", function (e) {
                return false;
            });
        });
    </script>
    @*<script language="JavaScript">

        //////////F12 disable code////////////////////////
        document.onkeypress = function (event) {
            event = (event || window.event);
            if (event.keyCode == 123 || event.keyCode == 16 || event.keyCode == 17 || event.keyCode == 85 || event.keyCode == 83) {
                //alert('No F-12');
                return false;
            }
        }
        document.onmousedown = function (event) {
            event = (event || window.event);
            if (event.keyCode == 123 || event.keyCode == 16 || event.keyCode == 17 || event.keyCode == 85 || event.keyCode == 83) {
                //alert('No F-keys');
                return false;
            }
        }
        document.onkeydown = function (event) {
            event = (event || window.event);
            if (event.keyCode == 123 || event.keyCode == 16 || event.keyCode == 17 || event.keyCode == 85 || event.keyCode == 83 || event.keyCode === 67 ||
                event.keyCode === 86 ||
                event.keyCode === 85 ||
                event.keyCode === 117) {
                //alert('No F-keys');
                return false;
            }
        }
                   

    </script>*@

</body>
</html>
