﻿@*@model IEnumerable<ElephanttreeOnlineCourses.Models.Tbl_Cand_Main>*@
@model ElephanttreeOnlineCourses.Models.Tbl_Cand_Main
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>EOTA: User profile</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="EOTA: User profile" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/FrontUsersPro/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome-icons -->
    <link href="~/FrontUsersPro/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/FontAwesome.otf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.eot" rel="stylesheet">
    @*
    <img src="~/FrontUsersPro/fonts/glyphicons-halflings-regular.svg" />*@
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff" rel="stylesheet">

    <link href="//FrontUsersPro/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
   
    <link href="~/css/newcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
  
</head>

<body style="background-color:#f6f6f6;">
    <!-- banner -->
    <div class="wthree_agile_admin_info">
        <!-- /w3_agileits_top_nav-->
        <!-- /nav-->
        <div class="wthree_agile_admin_info">
            <!-- /w3_agileits_top_nav-->
            <!-- /nav-->
            <div class="w3_agileits_top_nav">
                <ul id="gn-menu" class="gn-menu-main">
                    <!-- /nav_agile_w3l -->
                    <li class="gn-trigger">
                        <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" style="color:#fff;" aria-hidden="true"></i><span>Menu</span></a>
                        <nav class="gn-menu-wrapper">
                            <div class="gn-scroller scrollbar1">
                                <ul class="gn-menu agile_menu_drop">
                                    <li>
                                        <a href='@Url.Action("paidcourse", "Student", new { id = Model.Cand_id})'> <i class="fa fa-book" aria-hidden="true"></i>Paid Courses <i class="fa " aria-hidden="true"></i></a>

                                    </li>
                                    <li><a href='@Url.Action("Mocktst", "Student", new { id = Model.Cand_id})'> <i class="fa fa-table" aria-hidden="true"></i> Mock Test</a></li>

                                    @*
                                    <li>
                                        <a href="#"><i class="fa fa-list" aria-hidden="true"></i>Pay for Subject <i class="fa fa-angle-down" aria-hidden="true"> </i></a>
                                        <ul class="gn-submenu">
                                            <li class="mini_list_agile"><a href="typo.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Monthly Basis</a></li>
                                            <li class="mini_list_w3"><a href="icons.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Subject Basis</a></li>

                                        </ul>
                                    </li>*@

                                    <li><a href='@Url.Action("Certificates", "Student", new { id = Model.Cand_id})'> <i class="fa fa-line-chart" aria-hidden="true"></i> Certificate</a></li>
                                    @*
                                    <li><a href="maps.html"><i class="fa fa-map-o" aria-hidden="true"></i> Help/Training process</a></li>*@


                                    <a href='@Url.Action("Help", "Student", new { id = Model.Cand_id })'><i class="fa fa-plus-square" aria-hidden="true"></i> Help/Training process</a>


                                    <li>


                                        <a href='@Url.Action("Frndportal", "Student", new { id = Model.Cand_id })'><i class="fa  fa-user" aria-hidden="true"></i>Refer a friend</a>


                                    </li>

                                </ul>
                            </div><!-- /gn-scroller -->
                        </nav>
                    </li>
                    <!-- //nav_agile_w3l -->
                    <li class="second logo"> <img src="~/Picture/logoeot.png" style="width:160px; padding:10px 0px 20px 0px; "></li>

                    <li class="second admin-pic">
                        <ul class="top_dp_agile">
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <span class="prfil-img"><img src="~/Picture/Avatar-male.png" style="width:50px;max-height:70px;padding:5px; border-radius: 100%;top:0"></span>
                                        @*<span class="prfil-img"><img src="images/admin.jpg" alt=""> </span>*@
                                    </div>
                                </a>
                                @*<ul class="dropdown-menu drp-mnu">
                                    *@
                                    @{
                                    <ul class="dropdown-menu drp-mnu">

                                        <li>
                                            @{
                                            ViewBag.hhh=Model.Cand_id;
                                            }
                                           
                                            <a href="~/Student/Update/@ViewBag.hhh"><i class="fa fa-user"></i> Update profile</a>
                                        </li>
                                        <li> <a href="javascript:document.getElementById('logoutform').submit()"><i class="fa fa-sign-out"></i> Logout</a> </li>


                                        @using (Html.BeginForm("Cand_Logout", "Student", FormMethod.Post, new { id = "logoutform" })) { }

                                    </ul>

                                    }
                                    @*
                                    <li> <a href="#"><i class="fa fa-cog" style="color:#000;"></i> Settings</a> </li>
                                    <li> <a href="#"><i class="fa fa-user" style="color:#000;"></i> Profile</a> </li>
                                    <li> <a href="#"><i class="fa fa-sign-out" style="color:#000;"></i> Logout</a> </li>
                                </ul>*@
                            </li>

                        </ul>
                    </li>
                    <li class="second top_bell_nav">
                        <ul class="top_dp_agile ">
                            <li class="dropdown head-dpdn">
                                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge blue">3</span></a>*@
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-book" aria-hidden="true"> Course</i> </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href='@Url.Action("Allcrs", "Student", new { id = "A`"+ Model.Cand_id })'>
                                            <div class="user_img"><img src="~/FrontUsersPro/images/academic.jpg" alt=""></div>
                                            <div class="task-info">
                                                <div class="notification_desc">
                                                    <h6>
                                                        Academic Course
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("Allcrs", "Student", new { id = "T`"+ Model.Cand_id })'>
                                            <div class="user_img"><img src="~/FrontUsersPro/images/Technical.png" alt=""></div>
                                            <div class="task-info">
                                                <div class="notification_desc">
                                                    <h6>
                                                        Technical Course
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>

                                        </a>
                                    </li>

                                    <li>

                                        <a href='@Url.Action("Allcrs", "Student", new { id = "M`"+ Model.Cand_id })'>
                                            <div class="user_img"><img src="~/FrontUsersPro/images/management.jpg" alt=""></div>
                                            <div class="task-info">
                                                <div class="notification_desc">
                                                    <h6> Management Course</h6>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </a>
                                    </li>

                                    <li>
                                        <a href='@Url.Action("AllCanSub", "Student", new { id = Model.Cand_id })'>
                                            <div class="notification_bottom">
                                                <p>All Courses</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                            </li>

                        </ul>
                    </li>
                    <li class="second top_bell_nav">
                        <ul class="top_dp_agile ">
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-envelope-o" aria-hidden="true" style="color:#fff;"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>This portion will comming soon...</h3>
                                        </div>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="second top_bell_nav hidden">
                        <ul class="top_dp_agile ">
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks" style="color:#fff;"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>You have 4 Pending tasks</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar yellow" style="width:40%;"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar green" style="width:90%;"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar red" style="width: 33%;"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar  blue" style="width: 80%;"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">See all pending tasks</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="second w3l_search">

                        @using (Html.BeginForm("AllCanSub", "Student", new { id = Model.Cand_id}, FormMethod.Get))
                        {
                        <input type="search" name="search" placeholder="Search here..." required="">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        }

                    </li>



                </ul>
                <!-- //nav -->

            </div>



            <div class="clearfix"></div>
            <!-- //w3_agileits_top_nav-->
            <!-- /inner_content-->
            <div class="inner_content">
                <!-- /inner_content_w3_agile_info-->
                <div class="inner_content_w3_agile_info">
                    <!-- /agile_top_w3_grids-->
                    <div class="agile_top_w3_grids">
                        <ul class="ca-menu">
                            <li>
                                <a href="#">

                                    <i class="fa fa-building-o" aria-hidden="true"></i>
                                    <div class="ca-content">
                                        <h4 class="ca-main">@ViewBag.institute</h4>
                                        <h3 class="ca-sub">Our Institutions</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="ca-content">
                                        <h4 class="ca-main one">@ViewBag.trainer</h4>
                                        <h3 class="ca-sub one">Our Trainers</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-database" aria-hidden="true"></i>
                                    <div class="ca-content">
                                        <h4 class="ca-main two">29,008</h4>
                                        <h3 class="ca-sub two">Discounts</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-tasks" aria-hidden="true"></i>
                                    <div class="ca-content">
                                        <h4 class="ca-main three">49,436</h4>
                                        <h3 class="ca-sub three">Our Projects</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                    <div class="ca-content">
                                        <h4 class="ca-main four">30,808</h4>
                                        <h3 class="ca-sub four">Our Folowers</h3>
                                    </div>
                                </a>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <!-- //agile_top_w3_grids-->
                    <!-- /agile_top_w3_post_sections-->
                    <!-- //agile_top_w3_post_sections-->
                    <!-- /w3ls_agile_circle_progress-->
                    <div class="w3ls_agile_cylinder chart agile_info_shadow">
                        <h3 class="w3_inner_tittle two"> Our Progress Chart</h3>

                        <div id="chartdiv"></div>


                    </div>
                    <!-- /w3ls_agile_circle_progress-->
                    <!-- /chart_agile-->
                    <!-- /w3ls_agile_circle_progress-->
                    <div class="w3ls_agile_circle_progress agile_info_shadow">

                        <div class="cir_agile_info ">
                            <h3 class="w3_inner_tittle">Circular Progress</h3>
                            <div class="skill-grids">
                                <div class="skills-grid text-center">
                                    <div class="circle" id="circles-1"></div>
                                    <p>HTML</p>
                                </div>
                                <div class="skills-grid text-center">
                                    <div class="circle" id="circles-2"></div>
                                    <p>JAVA</p>
                                </div>
                                <div class="skills-grid text-center">
                                    <div class="circle" id="circles-3"></div>
                                    <p>PYTHON</p>
                                </div>
                                <div class="skills-grid text-center">
                                    <div class="circle" id="circles-4"></div>
                                    <p>.NET(MVC,C#)</p>
                                </div>



                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </div>
                    <!-- /w3ls_agile_circle_progress-->
                    <!--/prograc-blocks_agileits-->
                    <div class="prograc-blocks_agileits">

                        <div class="clearfix"></div>
                    </div>

                    <!-- //social_media-->
                </div>
                <!-- //inner_content_w3_agile_info-->
            </div>
            <!-- //inner_content-->
        </div>



        <div class="clearfix"></div>
        <!-- //w3_agileits_top_nav-->
        <!-- /inner_content-->
        <div class="inner_content">
            <!-- /inner_content_w3_agile_info-->
            <div class="inner_content_w3_agile_info">
                <!-- /agile_top_w3_grids-->
                <div class="agile_top_w3_grids">
                    <ul class="ca-menu">
                        <li>
                            <a href="#">

                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main">@ViewBag.institute</h4>
                                    <h3 class="ca-sub">Our Institutions</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main one">@ViewBag.trainer</h4>
                                    <h3 class="ca-sub one">Our Trainers</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-database" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main two">29,008</h4>
                                    <h3 class="ca-sub two">Discounts</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main three">49,436</h4>
                                    <h3 class="ca-sub three">Our Projects</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main four">30,808</h4>
                                    <h3 class="ca-sub four">Our Folowers</h3>
                                </div>
                            </a>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <!-- //agile_top_w3_grids-->
                <!-- /agile_top_w3_post_sections-->
                <!-- //agile_top_w3_post_sections-->
                <!-- /w3ls_agile_circle_progress-->
                <div class="w3ls_agile_cylinder chart agile_info_shadow">
                    <h3 class="w3_inner_tittle two"> Our Progress Chart</h3>

                    <div id="chartdiv"></div>


                </div>
                <!-- /w3ls_agile_circle_progress-->
                <!-- /chart_agile-->
                <!-- /w3ls_agile_circle_progress-->
                <div class="w3ls_agile_circle_progress agile_info_shadow">

                    <div class="cir_agile_info ">
                        <h3 class="w3_inner_tittle">Circular Progress</h3>
                        <div class="skill-grids">
                            <div class="skills-grid text-center">
                                <div class="circle" id="circles-1"></div>
                                <p>HTML</p>
                            </div>
                            <div class="skills-grid text-center">
                                <div class="circle" id="circles-2"></div>
                                <p>JAVA</p>
                            </div>
                            <div class="skills-grid text-center">
                                <div class="circle" id="circles-3"></div>
                                <p>PYTHON</p>
                            </div>
                            <div class="skills-grid text-center">
                                <div class="circle" id="circles-4"></div>
                                <p>.NET(MVC,C#)</p>
                            </div>



                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
                <!-- /w3ls_agile_circle_progress-->
                <!--/prograc-blocks_agileits-->
                <div class="prograc-blocks_agileits">

                    <div class="clearfix"></div>
                </div>

                <!-- //social_media-->
            </div>
            <!-- //inner_content_w3_agile_info-->
        </div>
        <!-- //inner_content-->
    </div>
    <!-- banner -->
    <!--copy rights start here-->
    <div class="footer_agileinfo_topf">
        <div class="container">
            <div class="container">
                <div class="col-md-4 footer_w3layouts_gridf">
                    <h2>EOTA</h2>
                    <p class="paragraphf">Providing best coaching at affordable prices.</p>
                </div>
                <div class="col-md-4 footer_w3layouts_gridf">
                    <nav>
                        <ul class="footer_w3layouts_gridf_list">
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#About" target="_blank">About Us</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#service" target="_blank">Services</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#products" target="_blank">Products</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 footer_w3layouts_gridf">
                    <nav>
                        <ul class="footer_w3layouts_gridf_list">
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#jobs" target="_blank">Careers</a>
                            </li>

                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#technology" target="_blank">Technology</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#contact" target="_blank">Contact</a>
                            </li>

                        </ul>
                    </nav>


                </div>
                <div class="clearfix"> </div>
                <div class="w3ls-fsocial-grid">
                    <h3 class="sub-w3ls-headf">Follow Us</h3>
                    <div class="social-ficons">
                        <ul>
                            <li><a href="https://www.facebook.com/12Elephanttrees/" target="_blank"><span class="fa fa-facebook"></span> Facebook</a></li>
                            <li><a href="https://twitter.com/12Elephanttrees" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
                            <li><a href="https://www.linkedin.com/in/elephanttree-technologies-private-limited-174699145/" target="_blank"><span class="fa fa-linkedin-square"></span>Linkdin</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-wthree-copyf" style="background-color:lavender">
        <div class="container">

            <p>© 2018 EOTA MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/" target="_blank"> ELEPHANTTREE TECH PVT.LTD.</a></p>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--copy rights end here-->
    <!-- js -->

    <script type="text/javascript" src="~/FrontUsersPro/js/jquery-2.1.4.min.js"></script>

    <!-- /amcharts -->
    <script src="~/FrontUsersPro/js/amcharts.js"></script>
    <script src="~/FrontUsersPro/js/serial.js"></script>
    <script src="~/FrontUsersPro/js/export.js"></script>
    <script src="~/FrontUsersPro/js/light.js"></script>
    <!-- Chart code -->
    <script>
        var chart = AmCharts.makeChart("chartdiv", {
            "theme": "light",
            "type": "serial",
            "startDuration": 2,
            "dataProvider": [{
                "country": "2018",
                "visits": 4025,
                "color": "#FF0F00"
            }, {
                "country": "2017",
                "visits": 2398,
                "color": "#FF6600"
            }, {
                "country": "2016",
                "visits": 1809,
                "color": "#FF9E01"
            }, {
                "country": "2015",
                "visits": 1322,
                "color": "#FCD202"
            }, {
                "country": "2014",
                "visits": 1122,
                "color": "#F8FF01"
            }],
            //, {
            //    "country": "France",
            //    "visits": 1114,
            //    "color": "#B0DE09"
            //}, {
            //    "country": "India",
            //    "visits": 984,
            //    "color": "#04D215"
            //}, {
            //    "country": "Spain",
            //    "visits": 711,
            //    "color": "#0D8ECF"
            //}, {
            //    "country": "Netherlands",
            //    "visits": 665,
            //    "color": "#0D52D1"
            //}, {
            //    "country": "Russia",
            //    "visits": 580,
            //    "color": "#2A0CD0"
            //}, {
            //    "country": "South Korea",
            //    "visits": 443,
            //    "color": "#8A0CCF"
            //}, {
            //    "country": "Canada",
            //    "visits": 441,
            //    "color": "#CD0D74"
            //}, {
            //    "country": "Brazil",
            //    "visits": 395,
            //    "color": "#754DEB"
            //}, {
            //    "country": "Italy",
            //    "visits": 386,
            //    "color": "#DDDDDD"
            //}, {
            //    "country": "Taiwan",
            //    "visits": 338,
            //    "color": "#333333"
            //}],
            "valueAxes": [{
                "position": "left",
                "axisAlpha": 0,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "[[category]]: <b>[[value]]</b>",
                "colorField": "color",
                "fillAlphas": 0.85,
                "lineAlpha": 0.1,
                "type": "column",
                "topRadius": 1,
                "valueField": "visits"
            }],
            "depth3D": 40,
            "angle": 30,
            "chartCursor": {
                "categoryBalloonEnabled": false,
                "cursorAlpha": 0,
                "zoomable": false
            },
            "categoryField": "country",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0

            },
            "export": {
                "enabled": true
            }

        }, 0);
    </script>
    <!-- Chart code -->
    <script>
        var chart = AmCharts.makeChart("chartdiv1", {
            "type": "serial",
            "theme": "light",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "right",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": [{
                "year": 2017,
                "europe": 2.5,
                "namerica": 2.5,
                "asia": 2.1,
                "lamerica": 0.3,
                "meast": 0.2,
                "africa": 0.1
            }, {
                "year": 2016,
                "europe": 2.6,
                "namerica": 2.7,
                "asia": 2.2,
                "lamerica": 0.3,
                "meast": 0.3,
                "africa": 0.1
            }, {
                "year": 2015,
                "europe": 2.8,
                "namerica": 2.9,
                "asia": 2.4,
                "lamerica": 0.3,
                "meast": 0.3,
                "africa": 0.1
            }],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.5,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Europe",
                "type": "column",
                "color": "#000000",
                "valueField": "europe"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "North America",
                "type": "column",
                "color": "#000000",
                "valueField": "namerica"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Asia-Pacific",
                "type": "column",
                "color": "#000000",
                "valueField": "asia"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Latin America",
                "type": "column",
                "color": "#000000",
                "valueField": "lamerica"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Middle-East",
                "type": "column",
                "color": "#000000",
                "valueField": "meast"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Africa",
                "type": "column",
                "color": "#000000",
                "valueField": "africa"
            }],
            "rotate": true,
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": true
            }
        });
    </script>

    <!-- //amcharts -->
    <script src="~/FrontUsersPro/js/chart1.js"></script>
    <script src="~/FrontUsersPro/js/Chart.min.js"></script>
    <script src="~/FrontUsersPro/js/modernizr.custom.js"></script>

    <script src="~/FrontUsersPro/js/classie.js"></script>
    <script src="~/FrontUsersPro/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <!-- script-for-menu -->
    <!-- /circle-->
    <script type="text/javascript" src="~/FrontUsersPro/js/circles.js"></script>
    <script>
        var colors = [
            ['#ffffff', '#fd9426'], ['#ffffff', '#fc3158'], ['#ffffff', '#53d769'], ['#ffffff', '#147efb']
        ];
        for (var i = 1; i <= 7; i++) {
            var child = document.getElementById('circles-' + i),
                percentage = 55 + (i * 10);

            Circles.create({
                id: child.id,
                percentage: percentage,
                radius: 80,
                width: 10,
                number: percentage / 1,
                text: '%',
                colors: colors[i - 1]
            });
        }

    </script>
    <!-- //circle -->
    <!--skycons-icons-->
    <script src="~/FrontUsersPro/js/skycons.js"></script>
    <script>
        var icons = new Skycons({ "color": "#fcb216" }),
            list = [
                "partly-cloudy-day"
            ],
            i;

        for (i = list.length; i--;)
            icons.set(list[i], list[i]);
        icons.play();
    </script>
    <script>
        var icons = new Skycons({ "color": "#fff" }),
            list = [
                "clear-night", "partly-cloudy-night", "cloudy", "clear-day", "sleet", "snow", "wind", "fog"
            ],
            i;

        for (i = list.length; i--;)
            icons.set(list[i], list[i]);
        icons.play();
    </script>
    <!--//skycons-icons-->
    <!-- //js -->
    <script src="~/FrontUsersPro/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="~/FrontUsersPro/js/flipclock.js"></script>

    <script type="text/javascript">
        var clock;

        $(document).ready(function () {

            clock = $('.clock').FlipClock({
                clockFace: 'HourlyCounter'
            });
        });
    </script>
    <script src="~/FrontUsersPro/js/bars.js"></script>
    <script src="~/FrontUsersPro/js/jquery.nicescroll.js"></script>
    <script src="~/FrontUsersPro/js/scripts.js"></script>


    <script type="text/javascript" src="~/FrontUsersPro/js/bootstrap-3.1.1.min.js"></script>


</body>
</html>