﻿

<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="@ViewBag.Title" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/admnfont/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/admnfont/css/style.css" rel='stylesheet' type='text/css' />
    <!-- font CSS -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- font-awesome icons -->
    <link href="~/admnfont/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- chart -->
    <script src="~/admnfont/js/Chart.js"></script>
    <!-- //chart -->
    <!-- js-->
    <script src="~/admnfont/js/jquery-1.11.1.min.js"></script>
    <script src="~/admnfont/js/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='//admnfont/fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="~/admnfont/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/admnfont/js/wow.min.js"></script>
    <script>
		 new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="~/admnfont/js/metisMenu.min.js"></script>
    <script src="~/admnfont/js/custom.js"></script>
    <link href="~/admnfont/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <div class="sidebar" role="navigation">
            <div class="navbar-collapse">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right dev-page-sidebar mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" id="cbp-spmenu-s1">
                    <div class="scrollbar scrollbar1">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="~/ADMIN/Dashboard"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                            </li>
                            <li>
                                <a href="~/ADMIN/allviews"><i class="fa fa-eye nav_icon"></i>All views</a>
                            </li>
                            <li>
                                <a href="~/Trainers/Trnr_reg"><i class="fa fa-anchor nav_icon"></i>Add Trainers</a>
                            </li>
                            <li>
                                <a href="~/ADMIN/AddBlocker"><i class="fa fa-cogs nav_icon"></i>Courses(ON/OFF)<span class=""></span></a>
                                @*<ul class="nav nav-second-level collapse">
                <li>
                    <a href="progressbar.html">Progressbar</a>
                </li>
                <li>
                    <a href="grid.html">Grid</a>
                </li>
            </ul>*@
                                <!-- /nav-second-level -->
                            </li>
                            <li>
                                <a href="~/ADMIN/CFUploader"><i class="fa fa-certificate nav_icon"></i>Certificate <span class=""></span></a>

                            </li>

                            <li>
                                <a href="#"><i class="fa fa-bookmark-o nav_icon"></i>Discounts <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="~/ADMIN/Discount">Discount For all</a>
                                    </li>
                                    <li>
                                        <a href="~/ADMIN/ReferenceDiscount">Discount as Reference Code</a>
                                    </li>
                                </ul>

                            </li>
                            
                            <li>
                                <a href="~/ADMIN/Institution"><i class="glyphicon glyphicon-education nav_icon"></i>Institute <span class=""></span></a>

                            </li>
                            <li>
                                <a href="~/ADMIN/ExamTest"><i class="fa fa-bell-o nav_icon"></i>Mock Test</a>
                                @*<ul class="nav nav-second-level collapse">
                <li>
                    <a href="inputs.html">Inputs</a>
                </li>
                <li>
                    <a href="validation.html">Form Validation</a>
                </li>
            </ul>*@
                                <!-- //nav-second-level -->
                            </li>
                            <li>
                                <a href="~/ADMIN/Report"><i class="fa fa-file nav_icon"></i>Reports</a>
                            </li>

                        </ul>
                    </div>
                    <!-- //sidebar-collapse -->
                </nav>
            </div>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--logo -->
                <div class="logo">
                    <a href="#">
                        <ul>
                            <li><img src="~/Picture/logo1.png" alt="" /></li>
                            <li><h1>Admin</h1></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </a>
                </div>
                <!--//logo-->
                <div class=" header-right header-right-grid">
                    <div class="profile_details_left">
                        <!--notifications of menu start -->
                        <ul class="nofitications-dropdown">
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog" style="color:#FFF"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>
                                                Hello
                                                @foreach (var crs in ViewBag.admnm)
    {
                                                <span style="color:darkblue">
                                                    @crs.AdminName </span>
                                                    }
</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:document.getElementById('logoutform').submit()">

                                            <div class="notification_desc">
                                                @using (Html.BeginForm("Adm_Logout", "ADMIN", FormMethod.Post, new { id = "logoutform" }))
                                    {

                                        <i class="fa fa-sign-out"><b> Logout</b> </i>

                        }
                                            </div>
                                            <div class="clearfix"></div>
                                            <br />
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                @*<div class="hidden header-right header-right-grid">
            <div class="profile_details_left">
                notifications of menu start
                <ul class="nofitications-dropdown">
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="notification_header">
                                    <h3>You have 3 new messages</h3>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="user_img"><img src="~/admnfont/images/1.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet</p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li class="odd">
                                <a href="#">
                                    <div class="user_img"><img src="~/admnfont/images/2.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet </p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="user_img"><img src="~/admnfont/images/3.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet </p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li>
                                <div class="notification_bottom">
                                    <a href="#">See all messages</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="notification_header">
                                    <h3>You have 3 new notification</h3>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="user_img"><img src="~/admnfont/images/2.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet</p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li class="odd">
                                <a href="#">
                                    <div class="user_img"><img src="~/admnfont/images/1.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet </p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="user_img"><img src="~/admnfont/images/3.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet </p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li>
                                <div class="notification_bottom">
                                    <a href="#">See all notifications</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">15</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="notification_header">
                                    <h3>You have 8 pending task</h3>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="progress progress-striped active">
                                        <div class="bar yellow" style="width:40%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="progress progress-striped active">
                                        <div class="bar green" style="width:90%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="progress progress-striped active">
                                        <div class="bar red" style="width: 33%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="progress progress-striped active">
                                        <div class="bar  blue" style="width: 80%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="notification_bottom">
                                    <a href="#">See all pending tasks</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>*@


                <div class="clearfix"> </div>
            </div>
            <!--search-box-->
            <div class="hidden search-box">
                <form class="input">
                    <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search" id="input-31" />
                </form>
            </div>
            <!--//end-search-box-->
            <div class="header-right">

                <!--notification menu end -->
                @*<div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><i class="fa fa-cog"></i> </span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu ">
                               
                                @using (Html.BeginForm("Adm_Logout", "ADMIN", FormMethod.Post, new { id = "logoutform" }))
                                {
                                    <li >
                                        <a href="javascript:document.getElementById('logoutform').submit()"><i class="fa fa-sign-out"></i> Logout</a>
                                    </li>
                                }
                               
                            </ul>
                        </li>
                    </ul>
                </div>*@
                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                <!--toggle button end-->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->
        <!-- main content start-->
        @*<div id="page-wrapper">
                <div class="main-page">
                    <!--grids-->
                    <div class="grids">
                        <div class="progressbar-heading grids-heading">
                            <h2>Blank Page</h2>
                        </div>
                        <div class="panel panel-widget">
                            <div class="block-page">
                                <p>


                                        @RenderBody()

                                </p>
                            </div>
                        </div>
                    </div>
                    <!--//grids-->

                </div>
            </div>*@
        @RenderBody()
        <!--footer-->
        <div class="dev-page">

            <!-- page footer -->
            <!-- dev-page-footer-closed dev-page-footer-fixed -->
            <div class="dev-page-footer dev-page-footer-fixed">
                <!-- container -->
                <div class="container">
                    <div class="copyright">
                        <p> © 2018 EOTA MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/">ELEPHANTTREE TECH PVT.LTD.</a></p>
                    </div>
                    <!-- page footer buttons -->
                    @*<ul class="dev-page-footer-buttons">
                        <li><a href="#footer_content_1" class="dev-page-footer-container-open"><span class="glyphicon glyphicon glyphicon-sort" aria-hidden="true"></span></a></li>
                        <li><a href="#footer_content_2" class="dev-page-footer-container-open"><span class="glyphicon glyphicon glyphicon-signal" aria-hidden="true"></span></a></li>
                        <li><a href="#footer_content_3" class="dev-page-footer-container-open"><span class="glyphicon glyphicon glyphicon glyphicon-file" aria-hidden="true"></span></a></li>
                    </ul>*@
                    <!-- //page footer buttons -->
                    <!-- page footer container -->
                    <div class="dev-page-footer-container">

                        <!-- loader and close button -->
                        <div class="dev-page-footer-container-layer">
                            <a href="#" class="dev-page-footer-container-layer-button"></a>
                        </div>
                        <!-- //loader and close button -->
                        <!-- informers -->
                        <div class="dev-page-footer-container-content" id="footer_content_1">
                            <div class="block-hdnews">
                                <div class="list-wrpaaer" style="height:200px;">
                                    <ul class="list-aggregate" id="marquee-horizontal">
                                        <li class="fat-l" style="width:300px">
                                            <a href="#">Lorem ipsum dolor</a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </li>

                                        <li class="fat-l" style="width:300px">
                                            <a href="#">Consectetur</a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </li>

                                        <li class="fat-l" style="width:300px">
                                            <a href="#">Adipiscing elit</a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </li>

                                        <li class="fat-l" style="width:300px">
                                            <a href="#">Lorem ipsum dolor</a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </li>
                                        <li class="fat-l" style="width:300px">
                                            <a href="#">Consectetur</a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </li>

                                        <li class="fat-l" style="width:300px">
                                            <a href="#">Adipiscing elit</a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </li>

                                    </ul>
                                </div><!-- list-wrpaaer -->

                            </div> <!-- block-hdnews -->

                            <script type="text/javascript">

                                $(function () {


                                    $('#marquee-vertical').marquee();
                                    $('#marquee-horizontal').marquee({ direction: 'horizontal', delay: 0, timing: 50 });

                                });

                            </script>
                        </div>
                        <!-- //informers -->
                        <!-- informers -->
                        <div class="dev-page-footer-container-content" id="footer_content_2">
                            <div class="graphs">
                                <div class="col-md-4 graph-points">
                                    <div class="graph-left">
                                        <script type="text/javascript">
                                            // Generate data

                                            var data = [];

                                            var time = new Date('Dec 1, 2013 12:00').valueOf();

                                            var h = Math.floor(Math.random() * 100);
                                            var l = h - Math.floor(Math.random() * 20);
                                            var o = h - Math.floor(Math.random() * (h - l));
                                            var c = h - Math.floor(Math.random() * (h - l));

                                            var v = Math.floor(Math.random() * 1000);

                                            for (var i = 0; i < 30; i++) {
                                                data.push([time, o, h, l, c, v]);
                                                h += Math.floor(Math.random() * 10 - 5);
                                                l = h - Math.floor(Math.random() * 20);
                                                o = h - Math.floor(Math.random() * (h - l));
                                                c = h - Math.floor(Math.random() * (h - l));
                                                v += Math.floor(Math.random() * 100 - 50);
                                                time += 30 * 60000; // Add 30 minutes
                                            }
                                        </script>
                                        <div id="example-1"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#example-1').jqCandlestick({
                                                    data: data,
                                                    theme: 'light',
                                                    series: [{
                                                    }],
                                                });
                                            });
                                        </script>
                                    </div>
                                    <div class="graph-right">
                                        <h3>TODAY'S STATS</h3>
                                        <p>Duis aute irure dolor in reprehenderit.</p>
                                        <ul>
                                            <li>Earning: $400 USD</li>
                                            <li>Items Sold: 20 Items</li>
                                            <li>Last Hour Sales: $34 USD</li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="col-md-4 bar-grid">
                                    <div class="graph-left">
                                        <canvas id="line"></canvas>
                                        <script>
                                            var lineChartData = {
                                                labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Mon"],
                                                datasets: [
                                                    {
                                                        fillColor: "rgba(202, 202, 202, 0)",
                                                        strokeColor: "#3E495A",
                                                        pointColor: "#fbfbfb",
                                                        pointStrokeColor: "#fbfbfb",
                                                        data: [20, 35, 45, 30, 10, 65, 40]
                                                    }
                                                ]

                                            };
                                            new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
                                        </script>
                                    </div>
                                    <div class="graph-right">
                                        <h3>TODAY'S STATS</h3>
                                        <p>Duis aute irure dolor in reprehenderit.</p>
                                        <ul>
                                            <li>Earning: $400 USD</li>
                                            <li>Items Sold: 20 Items</li>
                                            <li>Last Hour Sales: $34 USD</li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="col-md-4 switch-right">
                                    <div class="graph-left">
                                        <canvas id="bar"></canvas>
                                        <script>
                                            var barChartData = {
                                                labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Mon", "Tue", "Wed", "Thu"],
                                                datasets: [
                                                    {
                                                        fillColor: "#fbc02d",
                                                        strokeColor: "#fbc02d",
                                                        highlightFill: "rgba(220,220,220,0.75)",
                                                        highlightStroke: "rgba(220,220,220,1)",
                                                        data: [25, 40, 50, 65, 55, 30, 20, 10, 6, 4]
                                                    },
                                                    {
                                                        fillColor: "#3E495A",
                                                        strokeColor: "#3E495A",
                                                        data: [30, 45, 55, 70, 40, 25, 15, 8, 5, 2]
                                                    }
                                                ]

                                            };
                                            new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
                                        </script>
                                    </div>
                                    <div class="graph-right">
                                        <h3>TODAY'S STATS</h3>
                                        <p>Duis aute irure dolor in reprehenderit.</p>
                                        <ul>
                                            <li>Earning: $400 USD</li>
                                            <li>Items Sold: 20 Items</li>
                                            <li>Last Hour Sales: $34 USD</li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <!-- //informers -->
                        <!-- projects -->
                        <div class="dev-page-footer-container-content" id="footer_content_3">
                            <div class="social">
                                <div class="col-md-3 top-comment-grid">
                                    <div class="comments">
                                        <div class="comments-icon">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="comments-info">
                                            <h3>
                                                85</h5>
                                                <a href="#">Comments</a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="col-md-3 top-comment-grid">
                                    <div class="comments likes">
                                        <div class="comments-icon">
                                            <i class="fa fa-facebook"></i>
                                        </div>
                                        <div class="comments-info likes-info">
                                            <h3>
                                                2150</h5>
                                                <a href="#">Likes</a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="col-md-3 top-comment-grid">
                                    <div class="comments tweets">
                                        <div class="comments-icon">
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                        <div class="comments-info tweets-info">
                                            <h3>
                                                325</h5>
                                                <a href="#">Tweets</a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="col-md-3 top-comment-grid">
                                    <div class="comments views">
                                        <div class="comments-icon">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div class="comments-info views-info">
                                            <h3>
                                                471</h5>
                                                <a href="#">Views</a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <!-- //projects -->
                    </div>
                    <!-- //page footer container -->

                </div>
                <!-- //container -->
            </div>
            <!-- /page footer -->
        </div>
        <!--//footer-->
    </div>
    <!-- Classie -->
    <script src="~/admnfont/js/classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };


        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!-- Bootstrap Core JavaScript -->

    <script type="text/javascript" src="~/admnfont/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/admnfont/js/dev-loaders.js"></script>
    <script type="text/javascript" src="~/admnfont/js/dev-layout-default.js"></script>
    <script type="text/javascript" src="~/admnfont/js/jquery.marquee.js"></script>
    <link href="~/admnfont/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="~/admnfont/js/jquery.jqcandlestick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/admnfont/css/jqcandlestick.css" />

    <!--max-plugin-->
    <script type="text/javascript" src="~/admnfont/js/plugins.js"></script>
    <!--//max-plugin-->
    <!--scrolling js-->
    <script src="~/admnfont/js/jquery.nicescroll.js"></script>
    
    <script src="~/admnfont/js/scripts.js"></script>
    <!--//scrolling js-->
</body>
</html>